@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab'); /* Included Fonts */

/* Fonts Reminder */
/*
    font-family: 'Roboto Slab', serif;
    font-family: 'Lato', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #fff;
    overflow-x: hidden;
    -moz-osx-font-smoothing: always;
}

a{
    text-decoration: none;
    color: #fff;
}

h2{
    display: inline-block;
    font-size: 24px;
    margin: 20px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4e4e4e;
    font-family: 'Roboto Slab', serif;
    line-height: 1.3;
    font-weight: bold;
}

h4{
    display: inline-block;
    font-size: 19px;
    margin: 20px 0;
    letter-spacing: 1px;
    color: #4e4e4e;
    font-family: 'Lato', serif;
    line-height: 1.3;
}

p{
    display: inline-block;
    font-size: 17px;
    color: #747474;
    line-height: 1.3;
    font-family: 'Lato', serif;
    letter-spacing: 1px;
}


.blueGradient{
    background-image: linear-gradient(to top, #62bee6, #269ed3);
}

.style-dark{
/*    background-color: #585858;*/
    background-image: linear-gradient(to bottom, #848484, #585858);
    
}


.disabled{
    color: #bababa!important;
    background-color: #cbcbcb!important;
    cursor: default!important;
}

/* Divider */

.divider{
    margin: 20px auto;
    height: 1px;
    background-color: rgba(38, 158, 211, 0.56);
    width: 90%;
}

/* Divider End */

/* Button To Top */

.btnToTop{
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    right: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    background-color: #269ed3;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    transition: .4s ease-in-out;
    border: 1px solid transparent;
    width: 65.45px;
    height: 50px;
}

.btnToTop::after{
    content: "\f062";
    font-family: "FontAwesome";
    margin-left: 5px;
}

.btnToTop:hover{
    background-color: #fff;
    color: #269ed3;
    border: 1px solid #269ed3;
    height: 60px;
}

.btnToTopHide{transform: translateY(70px);}

.btnToTopShow{transform: translateY(-70px);}

/* Button To Top End */

.wrapper{
    width: 100%;
    max-height: 100%;
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-sidebar-open .wrapper{
    position: fixed;
    transform: translate(300px);
}

.overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .75);
    z-index: 3;
}


.container{
    padding: 15px;
    margin: 0 126.500px;
}

header{
    width: 100%;
    height: auto;
    flex-grow: 0;
}

header .navbar{
    padding: 0 150px;
    min-height: 50px;
    display: flex;
/*    background-image: linear-gradient(to top, #62bee6, #269ed3);*/
    justify-content: space-between;
}

.navbar-header .navbar-brand,
.footer-header .footer-brand{
    display: inline-block;
    padding: 15px;
    height: 50px;
    line-height: 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Lato', serif;
    font-weight: bold;
    transition: .5s;
    user-select: none;
    -webkit-user-select: none;
}

.navbar-header .navbar-brand span,
.footer-header .footer-brand span{color: #e01f35; text-transform: none; transition: .5s;}
.navbar-header .navbar-brand:hover,
.footer-header .footer-brand:hover{color: #e01f35;}
.navbar-header .navbar-brand:hover span,
.footer-header .footer-brand:hover span{color: #fff;}

.navbar .navi{
    display: flex;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}


.navbar .navi>li{display: block;}

.navbar .open-sideNav{
    display: none;
}

.navbar .open-sideNav .bars-ico{
    display: inline-block;
    padding: 15px;
    height: 50px;
    font-size: 30px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.navbar .open-sideNav .bars-ico:hover{color: #bfbfbf;}

.navbar .navi li a{
    display: inline-block;
    padding: 15px;
    height: 50px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s ease;
}

.navbar .navi li a i,
.nav-side .sideMain-menu li i{margin-right: 5px;}


.navbar .navi li{border-left: 1px solid #fff;}
.navbar .navi li:last-child{
    border-right: 1px solid #fff;
}

.navbar .navi li a:hover{
    color: #269ed3;
    background-color: #fff;
    border-color: #269ed3;
}

.dropbtn{cursor: default; background-color: inherit;}
.dropbtn::after{
    content: "\f063";
    font-family: "FontAwesome";
    margin-left: 5px;
}
.navi a:hover, .dropdown:hover .dropbtn{
    color: #269ed3;
    background-color: #fff;
    border-color: #269ed3;
}

.dropdown-content{
    display: none;
    position: absolute;
/*    right: -26px;*/
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    transition: .5s;
}

.dropdown-content  li{border: none !important; border-top: 1px solid rgba(38, 158, 211, 0.65) !important;}
.dropdown-content  li:first-child{border-top: none !important;}
.dropdown-content{border: 1px solid rgba(38, 158, 211, 0.65); border-top: none;}

.dropdown-content a{
    color: #3e3e3e;
    padding: 15px !important;
    background-color: #eaeaea;
    width: 100%;
}

.dropdown-content a:hover{
    color: #269ed3;
    background-color: #c9c9c9;
    border-color: #fff;
}

.dropdown:hover .dropdown-content{
    display: block;
}

main{
    width: 100%;
}

main .about,
main .personnel,
main .contactUs{
    padding: 30px 15px;
/*    margin: 0 126.500px;*/
}

.aboutCompany, .ourSkills{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.aboutCompany{
    padding: 15px;
    margin: 0 126.500px;
}

.ourSkills{margin-bottom: 0; padding: 15px;}

.aboutCompany .desc, .ourSkills .desc{
    width: 66%;
}


.skills-container p{
    color: #6d6d6d;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin: 10px 0;
}

.skills-container .container-sk{
    width: 100%;
    background: url(../img/stripesPattern.png) #9f9f9f; /*#269ed3*/
    border-radius: 5px;
}

.skills-container .container-sk .skills{
    text-align: right;
    line-height: 40px;
    padding-right: 20px;
    color: #fff;
    font-size: 19px;
    border-radius: 5px 0 0 5px; 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background: url(../img/stripesPattern.png) #269ed3;
}

.skills.html{width: 90%;}
.skills.css{width: 80%;}
.skills.js{width: 65%;}
.skills.php{width: 45%;}

.aboutCompany .desc .btn{
    margin: 20px 0 0 0;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #269ed3;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    transition: .5s ease;
    box-shadow: 0px 5px 20px rgba(153, 153, 153, 1);
}

.aboutCompany .desc .btn:hover{
    color: #269ed3;
    background-color: #fff;
    border: 1px solid #269ed3;
}

.aboutCompany .iconLogo i, .ourSkills .iconLogo i{
    font-size: 200px;
    color: #269ed3;
    text-shadow: 0px 10px 30px rgba(153, 153, 153, 1)
}

/* Personnel */


.personnel{
    margin-bottom: 30px;
}

.personnel .personWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}


.personnel .container .person{
    width: 300px;
    height: auto;
    text-align: center;
    margin: 15px auto;
}

.personnel .container .person .info{padding: 5px;}

.personnel .container .person .info h3{margin: 10px 0; text-transform: uppercase;}

.personnel .container .person img{
    height: auto;
    max-width: 200px;
    border-radius: 50%;
}


/* Accordeon */

#accordion{
    padding-top: 20px;
    width: 100%!important;
}

.ui-accordion .ui-accordion-header{
    background-image: linear-gradient(to bottom, #62bee6, #269ed3);
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    
}

.ui-accordion .ui-state-active{
    background-image: linear-gradient(to top, #62bee6, #269ed3);
    color: #3e3e3e;
    border: none;
    outline: none;
}

/* Accordeon End */

/* Personnel End */

/* Contact US  */

main .contactUs{
    margin-bottom: 30px;
}

.contactUs .contactUs-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.contactUs-wrap .we-areHere{
    margin: 0 auto;
}

.we-areHere .we-areHereInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.we-areHere .we-areHereInfo P{
    margin-top: 30px;
    line-height: 50px;
    font-size: 16px;
}

.we-areHere .we-areHereInfo i{
    font-size: 20px;
    margin-right: 10px;
}


.contactUs-wrap .contact-us-form{margin: 0 auto;}

.contactUs-wrap .contact-usForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.conrolFormBtn .sendBtn{
    display: block;
    float: right;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    background-color: #269ed3;
    color: #fff;
    border-radius: 3px;
    transition: .5s ease;
    text-transform: uppercase;
}

.conrolFormBtn .sendBtn:hover{
    background-color: #fff;
    border-color: #269ed3;
    color: #269ed3;
}

.conrolFormBlock,
.conrolFormBtn{
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
}


.conrolFormText{
    flex-grow: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

textarea{resize: none;}

.form-control{
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.5;
    margin-bottom: 15px;
    border: 1px solid rgba(88, 88, 88, 0.6);
    outline: none;
    border-radius: 5px;
    transition: .6s ease;
}

.form-control:hover,
.form-control:focus{border-color: #269ed3;}

/* Contact Us End */


/* Main Social Buttons */

main .main-social{
    position: fixed;
    right: 0;
    top: 50%;
    transition: .3s ease-in-out;
    margin-top: -117.5px;
}

.main-socialHide{
    transform: translateX(65px)!important;
}
.main-socialShow{
    transform: translateX(0)!important;
}

main .main-social-button{
    overflow: hidden;
    background-color: #808080;
    transition: all .5s;
    border: 1px solid transparent;
}

main .main-social-button:hover{
    background-color: #fff;
    color: #269ed3;
    border-color: #269ed3;
}


main .main-social-button a{color: #fff; display: block; padding: 10px; transition: all .5s;}
main .main-social-button a:hover{color: #269ed3;}

main .main-social-icon i.fa{
    display: block;
    font-size: 25px;
    text-align: center;
}

main .main-social-icon {
    width: 40px;
}

main .main-social-facebook{background-color: #3B5998}
main .main-social-vk{background-color: #507299}
main .main-social-twitter{background-color: #4099FF}
main .main-social-youTube{background-color: #d71e17}
main .main-social-envelope{background-color: #656766}

/* Main Social Buttons End */

/* Footer */

footer{
    display: none;
    flex-grow: 0;
    width: 100%;
    height: auto;
/*    background-image: linear-gradient(to bottom, #62bee6, #269ed3);*/
}

footer .container{
    height: auto;
    padding: 0;
}

footer .footer-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 80px;
}

.footer-header .copyright,
.footer-header .footer-brand{
    padding: 15px;
    height: auto;
    line-height: 20px;
}

.footer-header .copyright p{
    color: #fff;
    font-size: 13px;
}

.footer-header .copyright a:hover{
    text-decoration: underline;
}


/* Footer End */

/* Animations */

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 16px solid #3498db;
    border-top: 16px solid #585858;
    border-right: 16px solid #585858;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin{
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg);}
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.animation-bottom{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    display: none;
    flex-grow: 1;
}

@-webkit-keyframes animatebottom{
    from{bottom: -100px; opacity: 0;}
    to{bottom: 0; opacity: 1;}
}

@keyframes animatebottom{
    from{bottom: -100px; opacity: 0;}
    to{bottom: 0; opacity: 1;}
}


.slideAnim{visibility: hidden;}

.slide{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

/* Animations END */

/* SideMenu Mobile */

/* nav-side Container Main */

.nav-side{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100vh;
    color: #fff;
    z-index: 3;
    overflow-y: auto;
    transform: translate(-300px);
}

/* nav-side Container Main End */

/* side-nav Header */
.nav-side .side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.side-header .side-title h2{
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}


.side-header .side-close p{
    color: #fff;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    transition: .2s ease;
}

.side-header .side-close p:hover{
    color: #d8d8d8;
}

.side-header .side-close p::after{
    content: "\f00d";
    font-family: "FontAwesome";
    font-size: 25px;
    padding-left: 20px;
}

/* side-nav Header End */

/* side-nav Main */

.nav-side .side-main{
    margin-top: 30px;
}

.sideMain-menu ul>li{
    border: 1px solid rgba(239, 239, 239, 0.65);
    border-bottom: none;
}

.sideMain-menu ul>li:last-child{
    border-bottom: 1px solid rgba(239, 239, 239, 0.65);
}

.sideMain-menu ul>li a{
    display: block;
    padding: 25px 15px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: .3s ease;
}

.sideMain-menu ul>li a:hover{
    color: #269ed3;
    background-color: #fff;
    border-color: #269ed3;
}


/* DropDown */
/*
.sideMain-menu ul>li .dropDownSty::after{
    content: "\f0d7";
    font-family: "FontAwesome";
    float: right;
}
*/

.sideMain-menu ul>li .dropDownSty{
    cursor: pointer;
    color: #269ed3;
    background-color: #fff;
    border-color: #269ed3;
}


.fa-caret-down{
    float: right;
}

.open{
    transform: rotate(-180deg);
    transition: transform .6s;
}

.close{
    transform: rotate(0deg);
    transition: transform .6s;
}

[data-toggle="dropdown"]{
    display: block;
    color: #fff;
}

.dropDownList ul>li{
    border-left: none;
    border-right: none;
}

.dropDownList ul>li:last-child{
    border-bottom: none;
}

.dropDownList ul>li a{
    font-size: 16px;
    font-weight: lighter;
    text-transform: none;
}

.dropDownList ul>li a:hover{
    color: #5a5a5a;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.dropDownList-menu{
    overflow: hidden;
    max-height: 0;
}

.show, .hide{
    transform-origin: (50%, 0%);
}

.show{
    display: block;
    max-height: 9999px;
    transform: scaleY(1);
    animation: showAnimation .5s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.hide{
    max-height: 0;
    transform: scaleY(0);
    animation: hideAnimation .4s ease-out;
    transition: max-height .6s ease-out;
}

@keyframes showAnimation {
    0%{
        transform: scaleY(0.1);
    }
    40%{
        transform: scaleY(1.04);
    }
    60%{
        transform: scaleY(0.98);
    }
    80%{
        transform: scaleY(1.04);
    }
    100%{
        transform: scaleY(0.98);
    }
}

@keyframes hideAnimation {
    0%{
        transform: scaleY(1);
    }
    60%{
        transform: scaleY(0.98);
    }
    80%{
        transform: scaleY(1.02);
    }
    100%{
        transform: scaleY(0);
    }
}

/* DropDown End */

/* side-nav Main End */


/* side-nav Footer */

.nav-side .side-footer{
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-side .side-footer .sideFooter-social h2{
    display: block;
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
}

.sideFooter-social ul{
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-right: 1px solid #269ed3;
    justify-content: space-between;
}


.sideFooter-social ul>li a{
    display: block;
    padding: 15px;
    font-size: 25px;
    color: #8d8d8d;
    transition: .4s ease;
}

.sideFooter-social ul>li a:hover{
    transition: .4s ease;
    opacity: 0.6;
}

.sideFooter-social .fa-facebook-official{color: #3B5998;}
.sideFooter-social .fa-vk{color: #507299;}
.sideFooter-social .fa-twitter-square{color: #4099FF;}
.sideFooter-social .fa-youtube-play{color: #d71e17;}
.sideFooter-social .fa-envelope-o{color: #269ed3;}


.sideFooter-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.sideFooter-toggle .title p{
    font-size: 15px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.BtnChange{
    padding: 15px;
    color: #535353;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* side-nav Footer End */


/* SideMenu Mobile End */

/* @Media que */

@media all and (min-width: 769px) and (max-width: 1099px){
    header .navbar{
        padding: 0 10px;
    }
}

@media all and (max-width: 950px){
    .contactUs-wrap .we-areHere{
        margin-bottom: 30px;
    }
}

@media all and (min-width: 769px) and (max-width: 950px) {
    
    header .navbar .dropdown-content{
        min-width: 160px;
/*        right: 0;*/
    }
    
    main .ourSkills{
        flex-direction: column;
        margin-top: 50px;
    }
    
    .contactUs .container{
        margin: 0 40px;
    }
}


@media all and (max-width: 929px){
    .personnel .person{
        flex-grow: 1;
    }
}

@media all and (max-width: 869px){
    footer .container{
        margin: 0 50px;
    }
    
    .footer-header .footer-brand,
    .footer-header .copyright{
        margin: 0 auto;
    }
    
    .btnToTop{
        right: 8px;
    }
}

@media all and (max-width: 768px){
    
    header .navbar{
        padding: 0 10px; 
        flex-direction: row-reverse; 
        position: fixed; 
        top: 0; 
        width: 100%; 
        z-index: 2;
    }
    
    header .navbar .navi{display: none;}
    
    header .navbar .open-sideNav{display: block;}
    
    .ourSkills .iconLogo i,
    .aboutCompany .iconLogo i{
        font-size: 150px;
    }
    
    main .about{
        margin-top: 50px;
    }
    
    main .aboutCompany{
        flex-direction: column-reverse;
        margin: 0 20px;
    }
    
    main .aboutCompany .desc{width: 100%;}
    main .ourSkills .desc{ width: 100%;}
    
    main .aboutCompany .desc h2,
    main .ourSkills .desc h2,
    main .personnel  h2{
        display: block;
        text-align: center;
    }
    
    main .aboutCompany .desc .btn{
        display: block;
        margin: 20px auto 0 auto;
    }
    
    main .ourSkills{
        flex-direction: column;
        margin-top: 50px;
        margin: 0 20px;
    }
    
    .btnToTop,
    .main-social{
        display: none;
    }
    
    .personnel .container{
        margin: 0;
    }
    
    .contactUs .container{
        margin: 0;
    }
    
    .contactUs-wrap .we-areHere h2,
    .contactUs-wrap .contact-us-form h2{
        display: block;
        text-align: center
    }
    
    .contactUs .we-areHere{
        border: 3px solid #269ed3;
        border-left-color: #585858;
        border-right-color: #585858;
        border-radius: 5px;
        padding: 10px;
    }
    
    footer .container{
        margin: 0;
    }
    
}


@media all and (max-width: 450px){
    
    body p{
        font-size: 14px!important;
        line-height: 30px!important;
    }
    
    body h4{
        font-size: 15px!important;
    }
    
    .side-header .side-close p{
        font-size: 18px!important;
    }
    
    main .about{
        padding: 15px 0;
    }
    
    main .aboutCompany{text-align: center; padding: 0;}
    
    main .aboutCompany h4{
        font-size: 17px;
        line-height: 30px;
        font-weight: 600;
    }
    
    main .aboutCompany p{
        font-size: 15px;
        line-height: 30px;
    }
    
    main .skills-container .container-sk .skills{
        line-height: 30px;
        font-size: 15px;
    }
    
    main .aboutCompany .desc h2,
    main .ourSkills .desc h2{font-size: 18px;}
    main .skills-container p{font-size: 15px;}
    main .personnel  h2{font-size: 18px;}
    .contactUs-wrap .we-areHere h2,
    .contactUs-wrap .contact-us-form h2{font-size: 18px;}
    
    main .contactUs {
        padding: 0;
        text-align: center;
    }
    
    .contactUs .we-areHere{
        border: 1px solid #269ed3;
        border-left-color: #585858;
        border-right-color: #585858;
        border-radius: 5px;
        padding: 10px;
    }
    
    .contactUs .we-areHere p:first-of-type{
        margin-top: 15px;
    }
    
    main .contactUs .container{
        padding: 0;
    }
    
    .footer-header .footer-brand{
        padding: 15px 15px 10px 15px; 
    }
    
    .footer-header .copyright{
        padding: 10px 5px 15px 5px; 
    }
    
    footer .container p{
        font-size: 10px!important;
        text-align: center;
    }
    
}

/* @Media que End */