// Media Hovers

@media (min-width: 769px)
  .t-btn:hover
    background-color: $dblue
    border-color: transparent
    color: $white

@media (max-width: 1440px)
  aside .t-menuWrapper
    margin-top: 47px
  .t-mainTopContent
    margin-bottom: 15px