doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        title Fantatic
        link(rel='stylesheet', href="/css/main.min.css")
    body.t-windowLoading.fixed.t-animeOne
        div.wrapper
            div.t-astronaut.t-blockHidden
            div.t-frame(style="display: none;")
            div.background.topBackground.animation
            include _header
            block content
            include _footer
            div.t-moonGradient
            div.t-moon
                img(src='/images/moon.png')
            div.t-overlay
            div.t-constructorSuperMainWrapper
                div.t-constructorMainWrappper
                    div.t-constructorMainPriceWrapper
                        h3.t-constructorMainQuantityAndPrice
                            span.t-constructorMainQuantity 16
                            | стикеров на сумму
                            span.t-constructorMainPrice 3 500 ₽
                    div.t-closeConstructor
                        svg(width='11', height='11', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M9.728 4.071A2 2 0 1 0 6.9 1.243L5.485 2.657 4.071 1.243A2 2 0 1 0 1.243 4.07l1.414 1.414L1.243 6.9A2 2 0 1 0 4.07 9.728l1.414-1.414L6.9 9.728a2 2 0 1 0 2.828-2.829L8.314 5.485l1.414-1.414z', fill='#E0E0E0')


                    div.t-constructorMainStickersPreviewWrapper
                        h3.t-constructorMainStickersPreviewTitle Форма и количество
                        div.t-constructorMainStickersPreview.t-flex.t-flexSB#t-constructorMainStickersPreview
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderOne
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard#idThis.t-flex.t-flexAlign
                                        svg#Circle_3_1_.svgStickerOne.svgSticker(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 85 85', style='enable-background:new 0 0 85 85;', xml:space='preserve', width='353px', height='353px')
                                            circle#Pad.t-padColor(fill="#73D9E5" cx='42.5', cy='42.5', r='42.5')
                                            path#SVGID_x5F_1_x5F_.st1(fill="transparent" d='M74.9,45.1H10.1c1.1,17,15.2,30.3,32.4,30.3S73.8,62.1,74.9,45.1z')
                                            text(text-anchor='middle')
                                                textpath(xlink:href='#SVGID_x5F_1_x5F_', startoffset='113')
                                                    tspan.textSvgTwo(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;")
                                            path#SVGID_x5F_2_x5F_.st1(fill="transparent" d='M13.1,40.5C14.1,25.1,26.9,13,42.5,13s28.4,12.2,29.4,27.5H13.1z')
                                            text(text-anchor='middle')
                                                textpath(xlink:href='#SVGID_x5F_2_x5F_', startoffset='44.5')
                                                    tspan.textSvgOne(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.8189px;")
                                            rect#Frame_Icon.st2(fill="transparent" x='27.1', y='27.1', width='31.7', height='31.7')
                                            svg(width='31.7', height='31.7', x='27.1', y='27.1',).t-groupIconHolder

                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 3 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderTwo
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        svg(class='svgStickerTwo svgSticker' version='1.1', id='Rectangle_5_X_1.5_1_', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 141.7 42.5', style='enable-background:new 0 0 141.7 42.5;', xml:space='preserve', width="585px", height="177px")
                                            rect#Pad.t-padColor(fill="#73D9E5" width='141.7', height='42.5')
                                            text.st1.st2.textSvgOne(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 39.9682 17.9795)')
                                            text.st1.st2.textSvgTwo(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 39.9682 27.9014)')
                                            rect#Frame_Icon.st3(fill='transparent' x='11.3', y='11.3', width='19.8', height='19.8')
                                            svg(x='11.3', y='11.3', width='19.8', height='19.8').t-groupIconHolder
                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 5 x 1,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderThird
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        svg(class='svgStickerThree svgSticker' version='1.1', id='Rectangle_4.5_X_1.5_1_', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 127.6 28.3', style='enable-background:new 0 0 127.6 28.3;', xml:space='preserve' width="530px", height="117px")
                                            rect#Pad.t-padColor(fill="#73D9E5" width='127.6', height='28.3')
                                            text.st1.st2.textSvgTwo(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 28.3474 20.8155)')
                                            text.st1.st2.textSvgOne(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 28.3474 10.8946)')
                                            rect#Rectangle.st3(fill='transparent' x='5.1', y='5.1', width='18.1', height='18.1')
                                            svg(x='5.1', y='5.1', width='18.1', height='18.1').t-groupIconHolder

                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 4,5 x 1,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderFour
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        svg(class='svgStickerFour svgSticker' version='1.1', id='Rectangle_Rounded_3.5_X_2.5_1_', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 99.2 70.9', style='enable-background:new 0 0 99.2 70.9;', xml:space='preserve' width="412px", height="295px")
                                            path#Pad.t-padColor(fill="#73D9E5" d='M0,11.3C0,5.1,5.1,0,11.3,0h76.5c6.3,0,11.3,5.1,11.3,11.3v48.2c0,6.3-5.1,11.3-11.3,11.3H11.3\
                                          C5.1,70.9,0,65.8,0,59.5V11.3z')
                                            text.st1.st2.textSvgTwo(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 4.2518 61.9164)' text-anchor="middle" x='45')
                                            text.st1.st2.textSvgOne(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 4.2518 51.9965)' text-anchor="middle" x='45')
                                            rect#Frame_Icon.st3(fill='transparent' x='37.7', y='11.9', width='23.8', height='23.8')
                                            svg(x='37.7', y='11.9', width='23.8', height='23.8').t-groupIconHolder

                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 3,5 x 2,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderFive
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        svg(class='svgStickerFive svgSticker' version='1.1', id='Rectangle_Rounded_5_X_2.5_1_', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 141.7 70.9', style='enable-background:new 0 0 141.7 70.9;', xml:space='preserve' width='589px', height='295px')
                                            style(type='text/css').
                                            path#Pad.t-padColor(fill="#73D9E5" d='M0,11.3C0,5.1,5.1,0,11.3,0h119.1c6.3,0,11.3,5.1,11.3,11.3v48.2c0,6.3-5.1,11.3-11.3,11.3H11.3\
                                          C5.1,70.9,0,65.8,0,59.5V11.3z')
                                            text.st1.st2.textSvgTwo(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 45.3539 42.643)')
                                            text.st1.st2.textSvgOne(style="font-family:'Robooto'; text-transform: uppercase; font-size:4.7061px;" transform='matrix(1 0 0 1 45.3539 31.5873)')
                                            rect#Frame_Icon.st3(fill='transparent' x='11.9', y='23.5', width='23.8', height='23.8')
                                            svg(x='11.9', y='23.5', width='23.8', height='23.8').t-groupIconHolder

                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 5 x 2,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus


                    div.t-constructorMainStickersSettingsWrapper
                        div.t-constructorMainColorAndStickersPicker
                            div.t-constructorMainColorPickerWrapper
                                h3.t-constructorColorPickerTitle.t-titleConstructorDefault Цвет подложки
                                div.t-constructorMainColorPicker
                                    ul.t-constructorDefaultPicker.t-mainList
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#FF4B46" style="background-color:#FF4B46;")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#B66CFF" style="background-color:#B66CFF;")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#FFE711" style="background-color:#FFE711;")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#FFFFFF" style="background-color:#FFFFFF;")
                            div.t-constructorMainImgPickerWrapper
                                h3.t-constructorImgPickerTitle.t-titleConstructorDefault Изображение
                                div.t-constructorImgPickerCategory
                                    select.t-customOptions
                                        option(value='all') Все
                                        option(value='spider') Паук
                                        option(value='happy') Happy
                                        option(value='pokemons') Покемоны
                                        option(value='ditch') Дичь
                                div.t-constructorMainImgPicker
                                    ul.t-constructorDefaultPicker.t-mainList
                                        -for(var i = 0; i < 14; i++)
                                            li(data-category='spider' data-img='/images/icons/SVG-optim/spider.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/spider.svg')")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-category='happy' data-img='/images/icons/SVG-optim/happy.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/happy.svg')")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-category='pokemons' data-img='/images/icons/SVG-optim/jigglypuff.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/jigglypuff.svg')")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-category='ditch' data-img='/images/icons/SVG-optim/monster.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/monster.svg')")
                        div.t-constructorMainTextEditorWrapper
                            div.t-constructorMainTextEditor
                                div.t-constructorMainTextEditCardsHolder
                                    form
                                        div.t-constructorMainTextEditCard
                                            div.t-inputItem.t-constructorFirstTextField
                                                label.t-titleConstructorDefault Первая строка
                                                input(placeholder='Максимум 20 символов')
                                            div.t-inputItem.t-constructorSecondTextField
                                                label.t-titleConstructorDefault Вторая строка
                                                input(placeholder='Максимум 20 символов')
                                            div.t-inputItem
                                                span.t-titleConstructorDefault Шрифт
                                                select.t-customOptions
                                                    option(value='roboto') Roboto
                                                    option(value='ubuntu') Ubuntu
                                                    option(value='pangolin') Pangolin
                                                    option(value='georgia') Georgia
                                                    option(value='openSans') Open Sans
                                div.t-constructorMainTextCheck.t-checkBoxesCtrl
                                    input(id="textCheck" type="checkbox").t-checkbox.t-hideSomething
                                    label(for="textCheck").t-checkControl Я проверил текст — ошибок и опечаток нет
                                div.t-constructorMainFinalCountWrapper
                                    div.t-constructorMainPriceWrapper
                                        h3.t-constructorMainQuantityAndPrice
                                            span.t-constructorMainQuantity 16
                                            | стикеров на сумму
                                            span.t-constructorMainPrice 3 500 ₽



                    div.t-constructorMainStickersButtonsWrapper.t-flex.t-flexCenter
                        div.t-constructorPrevButton
                            svg(width='40', height='40', xmlns='http://www.w3.org/2000/svg')
                                g(fill='none')
                                    rect(width='40', height='40', rx='20', fill='#F5F5F5')
                                    path(d='M15.206 20.068l4.475-3.889a.78.78 0 0 1 .994 0 .556.556 0 0 1 0 .864l-3.274 2.846h6.896c.388 0 .703.274.703.611 0 .337-.315.611-.703.611H17.4l3.274 2.846a.556.556 0 0 1 0 .864.78.78 0 0 1-.994 0l-4.475-3.889a.556.556 0 0 1 0-.864z', stroke='#4F4F4F', stroke-width='2')

                        button.t-constructorNextButton.t-btn
                            span Следующий шаг

        script(src="/js/vendor.min.js")
        script(src="/js/plugins/jspdf.min.js")
        script(src="/js/main.min.js")