doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        title Fantatic
        link(rel='stylesheet', href="/css/main.min.css")
    body.t-windowLoading.fixed.t-animeOne
        div.wrapper
            div.t-astronaut.t-blockHidden
            div.t-frame(style="display: none;")
            div.background.topBackground.animation
            include _header
            block content
            include _footer
            div.t-moonGradient
            div.t-moon
                img(src='/images/moon.png')
            div.t-overlay
            div.t-constructorSuperMainWrapper
                div.t-constructorMainWrappper
                    div.t-constructorMainPriceWrapper
                        h3.t-constructorMainQuantityAndPrice
                            span.t-constructorMainQuantity 16
                            | стикеров на сумму
                            span.t-constructorMainPrice 3 500 ₽

                    div.t-constructorMainStickersPreviewWrapper
                        h3.t-constructorMainStickersPreviewTitle Форма и количество
                        div.t-constructorMainStickersPreview.t-flex.t-flexSB#t-constructorMainStickersPreview
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderOne
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard#idThis
                                        div.t-constructorStickerTextOne
                                                div
                                        div.t-constructorStickerImg
                                            div(style="background-image: url('/images/icons/SVG-optim/defaultSticker.svg')")
                                        div.t-constructorStickerTextTwo
                                            div
                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 3 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderTwo
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        div.t-constructorStickerImg
                                            div(style="background-image: url('/images/icons/SVG-optim/defaultSticker.svg')")
                                        div.t-constructorStickerTextHolder.t-flex.t-flexColumn
                                            div.t-constructorStickerTextOne
                                                span.t-spanTag
                                            div.t-constructorStickerTextTwo
                                                span.t-spanTag
                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 5 x 1,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderThird
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        div.t-constructorStickerImg
                                            div(style="background-image: url('/images/icons/SVG-optim/defaultSticker.svg')")
                                        div.t-constructorStickerTextHolder.t-flex.t-flexColumn
                                            div.t-constructorStickerTextOne
                                                span.t-spanTag
                                            div.t-constructorStickerTextTwo
                                                span.t-spanTag
                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 4,5 x 1,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderFour
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard
                                        div.t-constructorStickerImg
                                            div(style="background-image: url('/images/icons/SVG-optim/defaultSticker.svg')")
                                        div.t-constructorStickerTextOne
                                            span.t-spanTag
                                        div.t-constructorStickerTextTwo
                                            span.t-spanTag
                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 3,5 x 2,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus
                            div.t-constructorStickerCardHolder.t-constructorStickerCardHolderFive
                                div.t-constructorStickerCardHTop(data-check='true')
                                    div.t-constructorStickerCard.t-flex.t-flexAlign
                                        div.t-constructorStickerImg
                                            div(style="background-image: url('/images/icons/SVG-optim/defaultSticker.svg')")
                                        div.t-constructorStickerTextHolder.t-flex.t-flexColumn
                                            div.t-constructorStickerTextOne
                                                span.t-spanTag
                                            div.t-constructorStickerTextTwo
                                                span.t-spanTag
                                div.t-constructorStickerCardHBottom
                                    div.t-constructorStickerCardSize
                                        span 5 x 2,5 СМ
                                    div.t-constructorStickerCardQuantityWr.t-flex.t-flexAlign
                                        input.t-constructorStickerCardQuantityVal(value='1')
                                        div.t-constructorStickerCardQuantityBtns.t-flex.t-flexAlign
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-minus
                                            button(type="button").t-constructorStickerCardQuantityBtn.t-plus


                    div.t-constructorMainStickersSettingsWrapper
                        div.t-constructorMainColorAndStickersPicker
                            div.t-constructorMainColorPickerWrapper
                                h3.t-constructorColorPickerTitle.t-titleConstructorDefault Цвет подложки
                                div.t-constructorMainColorPicker
                                    ul.t-constructorDefaultPicker.t-mainList
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#FF4B46" style="background-color:#FF4B46;")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#B66CFF" style="background-color:#B66CFF;")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#FFE711" style="background-color:#FFE711;")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-color="#FFFFFF" style="background-color:#FFFFFF;")
                            div.t-constructorMainImgPickerWrapper
                                h3.t-constructorImgPickerTitle.t-titleConstructorDefault Изображение
                                div.t-constructorImgPickerCategory
                                    select.t-customOptions
                                        option(value='all') Все
                                        option(value='moreNiggas') Еще негры
                                        option(value='pokemons') Покемоны
                                        option(value='ditch') Дичь
                                div.t-constructorMainImgPicker
                                    ul.t-constructorDefaultPicker.t-mainList
                                        -for(var i = 0; i < 14; i++)
                                            li(data-img='/images/icons/SVG-optim/spider.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/spider.svg')")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-img='/images/icons/SVG-optim/happy.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/happy.svg')")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-img='/images/icons/SVG-optim/jigglypuff.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/jigglypuff.svg')")
                                        -for(var i = 0; i < 14; i++)
                                            li(data-img='/images/icons/SVG-optim/monster.svg')
                                                div(style="background-image: url('/images/icons/SVG-optim/monster.svg')")
                        div.t-constructorMainTextEditorWrapper
                            div.t-constructorMainTextEditor
                                div.t-constructorMainTextEditCardsHolder
                                    form
                                        div.t-constructorMainTextEditCard
                                            div.t-inputItem.t-constructorFirstTextField
                                                label.t-titleConstructorDefault Первая строка
                                                input(placeholder='Максимум 20 символов')
                                            div.t-inputItem.t-constructorSecondTextField
                                                label.t-titleConstructorDefault Вторая строка
                                                input(placeholder='Максимум 20 символов')
                                            div.t-inputItem
                                                span.t-titleConstructorDefault Шрифт
                                                select.t-customOptions
                                                    option(value='roboto') Roboto
                                                    option(value='ubuntu') Ubuntu
                                                    option(value='pangolin') Pangolin
                                                    option(value='georgia') Georgia
                                                    option(value='openSans') Open Sans
                                div.t-constructorMainTextCheck.t-checkBoxesCtrl
                                    input(id="textCheck" type="checkbox").t-checkbox.t-hideSomething
                                    label(for="textCheck").t-checkControl Я проверил текст — ошибок и опечаток нет
                                div.t-constructorMainFinalCountWrapper
                                    div.t-constructorMainPriceWrapper
                                        h3.t-constructorMainQuantityAndPrice
                                            span.t-constructorMainQuantity 16
                                            | стикеров на сумму
                                            span.t-constructorMainPrice 3 500 ₽




                    div.t-constructorMainStickersButtonsWrapper.t-flex.t-flexCenter
                        div.t-constructorPrevButton
                            svg(width='40', height='40', xmlns='http://www.w3.org/2000/svg')
                                g(fill='none')
                                    rect(width='40', height='40', rx='20', fill='#F5F5F5')
                                    path(d='M15.206 20.068l4.475-3.889a.78.78 0 0 1 .994 0 .556.556 0 0 1 0 .864l-3.274 2.846h6.896c.388 0 .703.274.703.611 0 .337-.315.611-.703.611H17.4l3.274 2.846a.556.556 0 0 1 0 .864.78.78 0 0 1-.994 0l-4.475-3.889a.556.556 0 0 1 0-.864z', stroke='#4F4F4F', stroke-width='2')

                        button.t-constructorNextButton.t-btn
                            span Следующий шаг

        script(src="/js/vendor.min.js")
        script(src="/js/plugins/jspdf.min.js")
        script(src="/js/main.min.js")