extends _layout
block content
        main.t-mainPage
            div.t-loadingLogo.t-blockHidden
            div.t-figureContainer.t-blockHidden
                div.t-vectorLeft.t-figuresControls
                div.t-vectorSliderBottom.t-figuresControls
                div.t-vectorSliderTop.t-figuresControls
                div.t-vectorRight.t-figuresControls
                div.t-smallFigure.t-figuresControls

            section#catalog.t-jumbotronWrapperSection.t-mainSectionCtrl
                div.t-jumbotronTopContentSection
                    div.t-jumbotronTopLogoWrapper
                        a(href="/")
                            img(src='/images/bigLogotype.png')
                    div.t-jumbotronTopTextWrapper
                        span.t-defaultColorType.t-midText Выбирайте готовые дизайны или собирайте свои собственные
                    div.t-jumbotronTopFilterWrapper
                        ul.t-jumbotronTopFilter.t-mainList
                            li.active
                                a(href='#') Хайповые
                            li
                                a(href='#') Новые
                            li
                                a(href='#') Детские
                            li
                                a(href='#') Забавные
                            li
                                a(href='#') Страшные
                            li
                                a(href='#') Ещё
                div.t-jumbotronBottomContentSection#t-jumbotronBottomContentSection.dragdealer
                    div.t-jumbotronBottomCardsWrapper.handle
                        div.t-jumbotronBottomCardsWrapperSectionOne
                            - for(var i = 0; i < 3; i++)
                                a(href='#').t-goodCard
                                    div.t-cardTop
                                        div.t-cardImgHolder
                                            img(src='images/bg.jpg')
                                            div.t-cardOverlay
                                                svg(width='32', height='34' class='t-plusCardSvg')
                                                    path.t-plusCard(d='M.673 12.912c.238-.89.238-.89 1.128-.651l11.153 1.08.43-12.282s.239-.89 1.128-.65l5.577.54.651 1.128-1.32 12.044 11.392.191.651 1.128-1.43 5.339c.89.238 0 0-.239.89L18.88 19.698 17.321 32.63s-.238.89-1.128.652l-4.687-.302c-.89-.239-.651-1.129-.651-1.129l1.32-12.043-11.153-1.082.238-.89-.587-4.925z', fill='#fff')
                                    div.t-cardBottom
                                        div.t-cardTitleHolder
                                            h3 Набор школьника VIP Luxury Gold
                                        div.t-cardPriceHolder
                                            span.t-cardPrice 500 ₽
                                        div.t-cardButtonHolder
                                            button.t-btn
                                                span Выбрать
                            a(href='#').t-goodCard.t-makeStickerCard
                                div.t-cardTop
                                    div.t-cardImgHolder
                                div.t-cardBottom
                                    div.t-makerStickerCardTitle
                                        h3 Создать свой дизайн стикеров
                            - for(var i = 0; i < 4; i++)
                                a(href='#').t-goodCard
                                    div.t-cardTop
                                        div.t-cardImgHolder
                                            img(src='images/bg.jpg')
                                            div.t-cardOverlay
                                                svg(width='32', height='34' class='t-plusCardSvg')
                                                    path.t-plusCard(d='M.673 12.912c.238-.89.238-.89 1.128-.651l11.153 1.08.43-12.282s.239-.89 1.128-.65l5.577.54.651 1.128-1.32 12.044 11.392.191.651 1.128-1.43 5.339c.89.238 0 0-.239.89L18.88 19.698 17.321 32.63s-.238.89-1.128.652l-4.687-.302c-.89-.239-.651-1.129-.651-1.129l1.32-12.043-11.153-1.082.238-.89-.587-4.925z', fill='#fff')
                                    div.t-cardBottom
                                        div.t-cardTitleHolder
                                            h3 Набор школьника VIP Luxury Gold
                                        div.t-cardPriceHolder
                                            span.t-cardPrice 500 ₽
                                        div.t-cardButtonHolder
                                            button.t-btn
                                                span Выбрать
                            a(href='#').t-goodCard.t-makeStickerCard
                                div.t-cardTop
                                    div.t-cardImgHolder
                                div.t-cardBottom
                                    div.t-makerStickerCardTitle
                                        h3 Создать свой дизайн стикеров
                            a(href='#').t-goodCard
                                div.t-cardTop
                                    div.t-cardImgHolder
                                        img(src='images/imgDefault.png')
                                        div.t-cardOverlay
                                            svg(width='32', height='34' class='t-plusCardSvg')
                                                path.t-plusCard(d='M.673 12.912c.238-.89.238-.89 1.128-.651l11.153 1.08.43-12.282s.239-.89 1.128-.65l5.577.54.651 1.128-1.32 12.044 11.392.191.651 1.128-1.43 5.339c.89.238 0 0-.239.89L18.88 19.698 17.321 32.63s-.238.89-1.128.652l-4.687-.302c-.89-.239-.651-1.129-.651-1.129l1.32-12.043-11.153-1.082.238-.89-.587-4.925z', fill='#fff')
                                div.t-cardBottom
                                    div.t-cardTitleHolder
                                        h3 Набор школьника VIP Luxury Gold
                                    div.t-cardPriceHolder
                                        span.t-cardPrice 500 ₽
                                    div.t-cardButtonHolder
                                        button.t-btn
                                            span Выбрать
                        div.t-jumbotronBottomCardsWrapperSectionTwo
                            - for(var k = 0; k < 10; k++)
                                a(href='#').t-goodCard
                                    div.t-cardTop
                                        div.t-cardImgHolder
                                            img(src='images/imgDefault.png')
                                            div.t-cardOverlay
                                                svg(width='32', height='34' class='t-plusCardSvg')
                                                    path.t-plusCard(d='M.673 12.912c.238-.89.238-.89 1.128-.651l11.153 1.08.43-12.282s.239-.89 1.128-.65l5.577.54.651 1.128-1.32 12.044 11.392.191.651 1.128-1.43 5.339c.89.238 0 0-.239.89L18.88 19.698 17.321 32.63s-.238.89-1.128.652l-4.687-.302c-.89-.239-.651-1.129-.651-1.129l1.32-12.043-11.153-1.082.238-.89-.587-4.925z', fill='#fff')
                                    div.t-cardBottom
                                        div.t-cardTitleHolder
                                            h3 Набор школьника VIP Luxury Gold
                                        div.t-cardPriceHolder
                                            span.t-cardPrice 500 ₽
                                        div.t-cardButtonHolder
                                            button.t-btn
                                                span Выбрать

            section.t-benefits.t-defaultContainer#benefits.t-mainSectionCtrl
                div.t-mainTitleBlock
                    h1 Преимущества
                div.t-benefitsInsideWrapper
                    div.t-benefitsCard
                        div.t-benefitsCardTop
                            div.t-benefitsCardImgHolder
                                img(src='/images/bottominfo/wallet.png')
                        div.t-benefitsCardBottom
                            div.t-benefitsCardTitleHolder
                                h3.t-defaultColorType.t-bigText Оплата
                            div.div.t-benefitsCardTextHolder
                                span.t-defaultColorType.t-normalText Оплатить можно наложенным платежом или выставить расчетный счет
                    div.t-benefitsCard
                        div.t-benefitsCardTop
                            div.t-benefitsCardImgHolder
                                img(src='/images/bottominfo/rocket.png')
                        div.t-benefitsCardBottom
                            div.t-benefitsCardTitleHolder
                                h3.t-defaultColorType.t-bigText Доставка
                            div.div.t-benefitsCardTextHolder
                                span.t-defaultColorType.t-normalText Доставка осуществляется по всему миру
                    div.t-benefitsCard
                        div.t-benefitsCardTop
                            div.t-benefitsCardImgHolder
                                img(src='/images/bottominfo/guarantee.png')
                        div.t-benefitsCardBottom
                            div.t-benefitsCardTitleHolder
                                h3.t-defaultColorType.t-bigText Гарантия
                            div.div.t-benefitsCardTextHolder
                                span.t-defaultColorType.t-normalText Вы не оплачиваете покупку, пока не убедитесь в ее работоспособности
            section.t-answerAndQuestion.t-defaultContainer#questionsAndAnswers.t-mainSectionCtrl
                div.t-mainTitleBlock
                    h1 Вопросы и ответы
                div.t-answerAndQuestionInsideWrapper
                    div.t-accordItem
                        div.t-openAccordItem
                            span.t-defaultColorType.t-bigText Доставка
                            svg.t-smallPlusIcon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8 2a2 2 0 1 0-4 0v2H2a2 2 0 1 0 0 4h2v2a2 2 0 1 0 4 0V8h2a2 2 0 1 0 0-4H8V2z', fill='#fff')
                        div.t-accordItemContent Apple Watch Series 2 со встроенным GPS‑модулем позволяют оставить iPhone дома, если вы собрались бегать или ездить на велосипеде. При этом точность измерения вашей тренировки останется прежней. С ними вы можете плавать в бассейне или в море. И продолжать следить за своими показателями. Информация будет четко видна даже под прямыми солнечными лучами. Ведь теперь у вас на руке самый яркий из всех дисплеев Apple.
                    div.t-accordItem
                        div.t-openAccordItem
                            span.t-defaultColorType.t-bigText Оплата
                            svg.t-smallPlusIcon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8 2a2 2 0 1 0-4 0v2H2a2 2 0 1 0 0 4h2v2a2 2 0 1 0 4 0V8h2a2 2 0 1 0 0-4H8V2z', fill='#fff')
                        div.t-accordItemContent Apple Watch Series 2 со встроенным GPS‑модулем позволяют оставить iPhone дома, если вы собрались бегать или ездить на велосипеде. При этом точность измерения вашей тренировки останется прежней. С ними вы можете плавать в бассейне или в море. И продолжать следить за своими показателями. Информация будет четко видна даже под прямыми солнечными лучами. Ведь теперь у вас на руке самый яркий из всех дисплеев Apple.
                    div.t-accordItem
                        div.t-openAccordItem
                            span.t-defaultColorType.t-bigText Гарантия
                            svg.t-smallPlusIcon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8 2a2 2 0 1 0-4 0v2H2a2 2 0 1 0 0 4h2v2a2 2 0 1 0 4 0V8h2a2 2 0 1 0 0-4H8V2z', fill='#fff')
                        div.t-accordItemContent Apple Watch Series 2 со встроенным GPS‑модулем позволяют оставить iPhone дома, если вы собрались бегать или ездить на велосипеде. При этом точность измерения вашей тренировки останется прежней. С ними вы можете плавать в бассейне или в море. И продолжать следить за своими показателями. Информация будет четко видна даже под прямыми солнечными лучами. Ведь теперь у вас на руке самый яркий из всех дисплеев Apple.
                    div.t-accordItem
                        div.t-openAccordItem
                            span.t-defaultColorType.t-bigText Возврат
                            svg.t-smallPlusIcon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8 2a2 2 0 1 0-4 0v2H2a2 2 0 1 0 0 4h2v2a2 2 0 1 0 4 0V8h2a2 2 0 1 0 0-4H8V2z', fill='#fff')
                        div.t-accordItemContent Если вы собрались бегать или ездить на велосипеде. При этом точность измерения вашей тренировки останется прежней. С ними вы можете плавать в бассейне или в море. И продолжать следить за своими показателями. Информация будет четко видна даже под прямыми солнечными лучами. Ведь теперь у вас на руке самый яркий из всех дисплеев Apple.
                    div.t-accordItem
                        div.t-openAccordItem
                            span.t-defaultColorType.t-bigText Условия
                            svg.t-smallPlusIcon(width='12', height='12', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8 2a2 2 0 1 0-4 0v2H2a2 2 0 1 0 0 4h2v2a2 2 0 1 0 4 0V8h2a2 2 0 1 0 0-4H8V2z', fill='#fff')
                        div.t-accordItemContent Apple Watch Series 2 со встроенным GPS‑модулем позволяют оставить iPhone дома, если вы собрались бегать или ездить на велосипеде.

            section.t-contactsAndFeedBack.t-defaultContainer#contacts.t-mainSectionCtrl
                div.t-mainTitleBlock
                    h1 Контакты и обратная связь
                div.t-contactsAndFeedBackInsideWrapper.t-flex
                    div.t-leftSideContacts.t-leftSideContactsAndRightSideContactsControl
                        div.t-leftSideContactsContentWrapper
                           div.t-leftSideContactsContentTitle.t-leftSideContactsContentDefault
                               h3.t-defaultColorType.t-bigText Контакты
                           div.t-leftSideContactsContentMail.t-leftSideContactsContentDefault
                               a(href="mailto:mail@fantatic.ru").t-defaultColorType.t-veryBigText mail@fantatic.ru
                               span.t-defaultColorType.t-normalText Корпоративная почта
                           div.t-leftSideContactsContentOffice.t-leftSideContactsContentDefault
                               a(href="#").t-defaultColorType.t-veryBigText Улица Ленина, 100, офис 1
                               span.t-defaultColorType.t-normalText Головной офис в Москве
                           div.t-leftSideContactsContentSocial.t-leftSideContactsContentDefault
                               ul.t-mainList.t-flex
                                   li
                                       a(href="http://facebook.com" target="_blank")
                                           svg.t-facebookIcon(width='30', height='30', xmlns='http://www.w3.org/2000/svg')
                                               g(clip-path='url(#clip0)', fill='none')
                                                   path(fill-rule='evenodd', clip-rule='evenodd', d='M17.915 7.57H21V3h-3.626v.016c-4.392.154-5.294 2.632-5.373 5.234h-.008v2.28H9v4.475h2.993V27h4.51V15.005h3.693l.71-4.475h-4.403V9.152a1.476 1.476 0 0 1 .841-1.445c.18-.084.374-.13.571-.138z', fill='#fff')
                                               defs
                                                   clippath#clip0
                                                       path(fill='#fff', d='M0 0h30v30H0z')
                                   li
                                       a(href="http://vk.com" target="_blank")
                                           svg.t-vkIcon(width='30', height='30', xmlns='http://www.w3.org/2000/svg')
                                               g(clip-path='url(#clip0)', fill='none')
                                                   path(fill-rule='evenodd', clip-rule='evenodd', d='M14.72 22.99h1.553c.264-.03.511-.142.711-.318a1.16 1.16 0 0 0 .214-.69s-.03-2.13.938-2.44c.968-.311 2.18 2.036 3.48 2.938a2.335 2.335 0 0 0 1.728.505h3.469s1.817-.139.955-1.583a11.675 11.675 0 0 0-2.582-3.018c-2.178-2.042-1.886-1.712.738-5.245 1.597-2.15 2.236-3.465 2.036-4.027a1.556 1.556 0 0 0-1.356-.444h-3.918a.939.939 0 0 0-.505.102 1.112 1.112 0 0 0-.347.457 22.494 22.494 0 0 1-1.445 3.112c-1.742 2.987-2.438 3.145-2.722 2.96-.663-.433-.496-1.737-.496-2.664 0-2.895.434-4.102-.847-4.415a6.599 6.599 0 0 0-1.825-.184 8.36 8.36 0 0 0-3.244.336c-.445.22-.789.71-.578.738.445.039.858.248 1.156.584.27.555.404 1.169.387 1.788 0 0 .232 3.409-.537 3.83-.528.29-1.25-.302-2.803-3.013a24.59 24.59 0 0 1-1.4-2.945 1.167 1.167 0 0 0-.322-.439 1.6 1.6 0 0 0-.6-.245H2.842a1.264 1.264 0 0 0-.764.26.825.825 0 0 0-.015.668s2.91 6.93 6.204 10.398a9.014 9.014 0 0 0 2.922 2.166c1.109.515 2.31.797 3.53.828z', fill='#fff')
                                               defs
                                                   clippath#clip0
                                                       path(fill='#fff', d='M0 0h30v30H0z')
                                   li
                                       a(href="http://instagram.com" target="_blank")
                                           svg.t-instagramIcon(width='30', height='30', xmlns='http://www.w3.org/2000/svg')
                                               g(clip-path='url(#clip0)', fill='none')
                                                   path(d='M15.001 4c-2.987 0-3.362.013-4.536.066-1.17.054-1.97.24-2.67.512a5.386 5.386 0 0 0-1.948 1.268 5.4 5.4 0 0 0-1.27 1.948c-.272.7-.458 1.5-.51 2.67C4.013 11.637 4 12.013 4 15c0 2.987.013 3.361.066 4.534.054 1.172.24 1.97.512 2.67a5.39 5.39 0 0 0 1.268 1.949 5.387 5.387 0 0 0 1.948 1.27c.7.272 1.5.457 2.67.51 1.174.054 1.548.067 4.536.067 2.987 0 3.361-.013 4.534-.066 1.172-.054 1.972-.24 2.672-.511a5.382 5.382 0 0 0 1.947-1.27 5.4 5.4 0 0 0 1.27-1.948c.27-.7.456-1.5.51-2.67C25.987 18.36 26 17.987 26 15s-.014-3.362-.066-4.536c-.055-1.17-.241-1.97-.511-2.67a5.399 5.399 0 0 0-1.27-1.948 5.377 5.377 0 0 0-1.948-1.268c-.701-.273-1.501-.458-2.672-.512C18.36 4.013 17.986 4 14.998 4H15zm-.987 1.982h.987c2.937 0 3.285.01 4.445.064 1.072.049 1.655.228 2.042.378.514.2.88.438 1.264.823.385.385.624.752.824 1.265.15.387.33.97.378 2.042.053 1.16.065 1.508.065 4.444 0 2.935-.012 3.283-.065 4.443-.049 1.073-.228 1.655-.378 2.042-.2.513-.439.879-.824 1.264a3.4 3.4 0 0 1-1.264.822c-.387.152-.97.33-2.042.38-1.16.052-1.508.063-4.445.063-2.937 0-3.285-.011-4.445-.064-1.072-.05-1.655-.228-2.043-.379-.513-.2-.88-.438-1.265-.823a3.41 3.41 0 0 1-.823-1.264c-.15-.387-.33-.97-.379-2.042-.052-1.16-.063-1.508-.063-4.445 0-2.938.01-3.284.063-4.444.05-1.072.229-1.654.38-2.042.199-.513.437-.88.822-1.265a3.414 3.414 0 0 1 1.265-.823c.388-.152.97-.33 2.043-.38 1.015-.045 1.408-.06 3.458-.061v.002zm6.859 1.827a1.32 1.32 0 1 0 0 2.64 1.32 1.32 0 0 0 0-2.64zM15 9.35a5.65 5.65 0 1 0 0 11.298 5.65 5.65 0 0 0 0-11.298zm0 1.982a3.667 3.667 0 1 1 0 7.334 3.667 3.667 0 0 1 0-7.334z', fill='#fff')
                                               defs
                                                   clippath#clip0
                                                       path(fill='#fff', d='M0 0h30v30H0z')

                                   li
                                       a(href="http://twitter.com" target="_blank")
                                           svg.t-twitterIcon(width='30', height='30', xmlns='http://www.w3.org/2000/svg')
                                               g(clip-path='url(#clip0)', fill='none')
                                                   path(d='M26 8.013a8.622 8.622 0 0 1-2.475.675 4.306 4.306 0 0 0 1.895-2.374 8.645 8.645 0 0 1-2.736 1.04A4.312 4.312 0 0 0 19.538 6c-2.378 0-4.308 1.922-4.308 4.292 0 .336.038.663.112.978a12.246 12.246 0 0 1-8.88-4.485 4.287 4.287 0 0 0 1.333 5.73 4.29 4.29 0 0 1-1.952-.537v.054A4.298 4.298 0 0 0 9.3 16.24a4.308 4.308 0 0 1-1.945.074 4.311 4.311 0 0 0 4.025 2.98 8.666 8.666 0 0 1-5.352 1.838c-.347 0-.69-.02-1.027-.06A12.22 12.22 0 0 0 11.604 23c7.924 0 12.258-6.54 12.258-12.211 0-.186-.004-.372-.012-.555A8.718 8.718 0 0 0 26 8.013z', fill='#fff')
                                               defs
                                                   clippath#clip0
                                                       path(fill='#fff', d='M0 0h30v30H0z')

                                   li
                                       a(href="http://youtube.com" target="_blank")
                                           svg.t-youTubeIcon(width='30', height='30', xmlns='http://www.w3.org/2000/svg')
                                               g(clip-path='url(#clip0)', fill='none')
                                                   path(d='M14.993 6s-7.501 0-9.384.495C4.6 6.78 3.77 7.62 3.489 8.655 3 10.562 3 14.509 3 14.509s0 3.96.49 5.836a3.073 3.073 0 0 0 2.119 2.146c1.897.51 9.384.51 9.384.51s7.515 0 9.398-.495a3.001 3.001 0 0 0 2.105-2.146C27 18.47 27 14.523 27 14.523s.015-3.962-.504-5.867a2.981 2.981 0 0 0-2.105-2.13C22.508 6 14.993 6 14.993 6zm-2.387 4.862l6.24 3.646-6.24 3.63v-7.277z', fill='#fff')
                                               defs
                                                   clippath#clip0
                                                       path(fill='#fff', d='M0 0h30v30H0z')

                               span.t-defaultColorType.t-normalText Группы в социальных сетях
                    div.t-rightSideContacts.t-leftSideContactsAndRightSideContactsControl
                        div.t-rightSideContactsContentWrapper
                            form.t-feedBackFormMain
                                div.t-feedBackFormTitle
                                    span.t-defaultColorType.t-bigText Ваше сообщение
                                div.t-formItem
                                    label(for="messageText").t-defaultColorType.t-fontBold Текст сообщения
                                    input(type="text" id="messageText")
                                div.t-formItem
                                    label(for="nameText").t-defaultColorType.t-fontBold Имя
                                    input(type="text" id="nameText")
                                div.t-formItem
                                    label(for="mailText").t-defaultColorType.t-fontBold Электронная почта
                                    input(type="text" id="mailText")
                                div.t-formAgree.t-checkBoxesCtrl
                                    input(type="checkbox" id="formAgree" class="t-checkbox t-hideSomething")
                                    label(class="t-checkControl" for='formAgree') Согласен на обработку персональных данных
                                div.t-sendFeedbackForm
                                    button(type="button" class="t-btn")
                                        span Отправить

