.t-waterContent
  position: relative
  .t-frame
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/images/backgrounds/water.png") no-repeat
    background-position: center center
    -webkit-clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0% 100%)
    clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0% 100%)
    z-index: -1
    width: 280px
    mix-blend-mode: unset
  .t-vehiclesHolderAndInfo
    .t-contentInfo
      top: 255px
      left: 600px
      bottom: auto
    .t-tanker
      img
        width: 917px
      .t-contentInfoWithTitle
        align-self: flex-end
        margin-top: -75px