footer#footer
    div.t-moonGradient
    div.t-moon(data-controlls)#t-moon
    div.t-footerMain
        div.t-footerBuyer.mainWidth
            span.t-footerSectionTitle Покупателю
            ul.t-footerMenuList
                li
                    a(href="#") Доставка
                li
                    a(href="#") Оплата
                li
                    a(href="/guarantee.html") Гарантия
                li
                    a(href="#") Обмен, возврат и ремонт
                li
                    a(href="#") Вопросы и ответы
                li
                    a(href="#") Условия и правила сайта
        div.t-footerCatalog.mainWidth
            span.t-footerSectionTitle Каталог
            ul.t-footerMenuList
                li
                    a(href="#") Категории
                li
                    a(href="#") Бренды
                li
                    a(href="#") Акции
                li
                    a(href="#") Новинки
        div.t-footerCompany.mainWidth
            span.t-footerSectionTitle Компания
            ul.t-footerMenuList
                li
                    a(href="#") О нас
                li
                    a(href="#") Контакты
                li
                    a(href="/feedback.html") Обратная связь
        div.t-footerCompany.mainWidth
            span.t-footerSectionTitle Мы в социальных сетях
            ul.t-footerMenuList.t-footerMenuListSocial
                li
                    a(href="#")
                        img(src="/images/icons/social/fb.svg")
                li
                    a(href="#")
                        img(src="/images/icons/social/vk.svg")
                li
                    a(href="#")
                        img(src="/images/icons/social/instagram.svg")
                li
                    a(href="#")
                        img(src="/images/icons/social/twitter.svg")
                li
                    a(href="#")
                        img(src="/images/icons/social/tube.svg")
        div.t-footerKnowAbout.mainWidth
            span.t-footerSectionTitle Будь в курсе новостей
            div.t-footerKnowAboutFieldWrap
                input(type="email" required placeholder="Ваш e-mail").t-footerKnowAboutField
                button(type="button").t-btn
                    span Подписаться
    div.t-footerBottom
        span.t-copy © Fantatic 2017
        span.t-made
            a(href="#") Сделано в t

