extends _layout
block content
    main
        section.t-contactsSection.t-mainContainerSection
            h2.t-sectionTitle  Контакты
            div.t-contactsContainer
                div.t-contactEmailWrapper.t-contactsStyleControl
                    h3.t-contactEmail mail@fantatic.ru
                    p.t-contactSectionTitle Корпоративная почта
                div.t-contactAddressWrapper.t-contactsStyleControl
                    h3.t-contactAddress Улица Ленина, 100, офис 1
                    p.t-contactSectionTitle Головной офис в Москве
                div.t-contactSocialWrapper.t-contactsStyleControl
                    ul
                        li
                            a(href="#")
                                img(src="/images/icons/social/fb.svg")
                        li
                            a(href="#")
                                img(src="/images/icons/social/vk.svg")
                        li
                            a(href="#")
                                img(src="/images/icons/social/instagram.svg")
                        li
                            a(href="#")
                                img(src="/images/icons/social/twitter.svg")
                        li
                            a(href="#")
                                img(src="/images/icons/social/tube.svg")
                    p.t-contactSectionTitle Группы в социальных сетях

        section.t-bottomInfo