extends _layout
block content
    main
        section.t-goodsOrderWrapper.t-mainContainerCection
            h2.t-sectionTitle  Подарки с юмором
            div.t-breadCrumbs
                ul
                    li
                        a(href="#") Каталог
                    li -
                        a(href="#") Новый год
                    li -
                        a(href="#") Подарки с юмором

            div.t-aboutGoodsCard
                div.t-aboutGoodsImgContainer
                    a(href="" data-lightbox="image-1")
                        div.t-insideImg
                            img(src="/images/goodImage.png")
                div.t-aboutGoodsInfoMain
                    div.t-aboutGoodsInfoMainHeader
                        h1.t-titleOfGoods Neca Prometheus Series 1 Deluxe Pressure Suit Engineer
                        span.t-codeOfGoods Код A94857339
                        div.t-ratingOfGoods
                            ul.t-starHolder
                                li
                                    span.t-star
                                        svg.active(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                li
                                    span.t-star
                                        svg.active(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                li
                                    span.t-star
                                        svg.active(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                li
                                    span.t-star
                                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                li
                                    span.t-star
                                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")

                            span.t-reviews - 20 Отзывов

                    div.t-aboutGoodsInfoMainBody
                        div.t-priceWrapperOfGoods
                            span.t-priceOfGoods 32 500 ₽
                            span.t-oldPriceOfGoods 39 000 ₽
                        div.t-inStockGoodsWrapper
                            span.t-inStockGoods В наличии
                        div.t-addToCartAndSocial
                            button.t-btn.t-addToCart Добавить в корзину
                            ul.t-addToCartSocial
                                li
                                    a(href="#")
                                        svg(width="26" height="15" viewBox="0 0 26 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                            path(id="path0_fill" fill-rule="evenodd" d="M 12.7192 14.9901L 14.2733 14.9901C 14.5366 14.9591 14.7845 14.8483 14.9844 14.6724C 15.1272 14.4714 15.2022 14.2293 15.1983 13.9819C 15.1983 13.9819 15.1683 11.8522 16.1361 11.5414C 17.1039 11.2307 18.3157 13.5777 19.6154 14.4796C 20.1025 14.8731 20.7243 15.0551 21.3441 14.9854L 24.813 14.9854C 24.813 14.9854 26.6296 14.8464 25.7682 13.4025C 25.0848 12.2544 24.2114 11.2333 23.1861 10.3837C 21.0076 8.34158 21.3002 8.6722 23.9238 5.13939C 25.5207 2.98863 26.1601 1.67435 25.9601 1.11241C 25.7853 0.93475 25.571 0.801791 25.3351 0.724581C 25.0992 0.647371 24.8485 0.628137 24.6037 0.668478L 20.6862 0.668478C 20.5117 0.654524 20.3368 0.689707 20.1809 0.770117C 20.0276 0.889016 19.908 1.04655 19.834 1.2269C 19.4319 2.30022 18.9486 3.3407 18.3886 4.33914C 16.6472 7.32637 15.9511 7.48408 15.6666 7.29833C 15.0041 6.86607 15.1706 5.5623 15.1706 4.63471C 15.1706 1.73977 15.6053 0.53296 14.3241 0.219868C 13.7272 0.0740865 13.1132 0.0123643 12.4995 0.0364522C 11.4067 -0.0659602 10.3046 0.0479282 9.25487 0.371741C 8.80969 0.591373 8.46627 1.08204 8.67672 1.11008C 9.1217 1.14895 9.53526 1.35786 9.83303 1.69421C 10.1038 2.24942 10.2368 2.86289 10.2204 3.48164C 10.2204 3.48164 10.4517 6.89061 9.68271 7.31235C 9.15543 7.60207 8.43274 7.00977 6.87981 4.29942C 6.34904 3.35027 5.88162 2.36635 5.48067 1.35424C 5.40906 1.18409 5.29849 1.03355 5.15806 0.91498C 4.97653 0.792982 4.77236 0.709516 4.55794 0.669646L 0.841554 0.669646C 0.565947 0.670657 0.298117 0.762084 0.0783837 0.930168C 0.0294379 1.0342 0.00279839 1.14751 0.000207905 1.26267C -0.00238258 1.37782 0.0191382 1.49224 0.0633555 1.59841C 0.0633555 1.59841 2.97263 8.52733 6.26696 11.9959C 7.08555 12.9106 8.0796 13.6477 9.18875 14.1624C 10.2979 14.6771 11.499 14.9587 12.7192 14.9901Z")
                                li
                                    a(href="#")
                                        svg(width="12" height="24" viewBox="0 0 12 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                            path(id="path0_fill" fill-rule="evenodd" d="M 8.91531 4.56909L 12 4.56909L 12 -4.39519e-07L 8.37426 -4.39519e-07L 8.37426 0.0156025C 3.98244 0.170426 3.0799 2.6476 3.0009 5.24959L 2.99252 5.24959L 2.99252 7.52993L -2.37444e-07 7.52993L -2.37444e-07 12.0054L 2.99252 12.0054L 2.99252 24L 7.50284 24L 7.50284 12.0054L 11.1956 12.0054L 11.9066 7.52993L 7.50284 7.52993L 7.50284 6.15212C 7.48788 5.95432 7.51294 5.75552 7.5765 5.56766C 7.64007 5.37981 7.74083 5.20676 7.87275 5.05892C 8.00466 4.91107 8.16501 4.79148 8.34416 4.7073C 8.52332 4.62313 8.71759 4.57612 8.91531 4.56909Z")
                                li
                                    a(href="#")
                                        svg(width="21" height="17" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                            path(id="path0_fill" d="M 21 2.01254C 20.2276 2.35372 19.3967 2.58449 18.5253 2.68755C 19.415 2.15657 20.0978 1.31641 20.42 0.313659C 19.5875 0.805591 18.6651 1.16246 17.6841 1.35482C 16.8982 0.521059 15.7784 -3.90699e-08 14.5385 -3.90699e-08C 12.1596 -3.90699e-08 10.2301 1.92196 10.2301 4.29169C 10.2301 4.62807 10.2683 4.95549 10.3422 5.26979C 6.76159 5.09088 3.58675 3.3824 1.46163 0.785107C 1.09084 1.41883 0.878133 2.15657 0.878133 2.94295C 0.878133 4.43155 1.63931 5.74572 2.79473 6.51515C 2.08882 6.49306 1.42403 6.30007 0.843432 5.97777C 0.84311 5.99601 0.84311 6.01425 0.84311 6.03218C 0.84311 8.11161 2.32884 9.84601 4.29941 10.24C 3.93826 10.3386 3.55687 10.3908 3.16456 10.3908C 2.8863 10.3908 2.61673 10.3642 2.3539 10.3143C 2.90205 12.0189 4.49284 13.2598 6.37859 13.2947C 4.90379 14.4459 3.04631 15.1318 1.02722 15.1318C 0.680207 15.1318 0.336409 15.1116 2.05916e-07 15.0716C 1.90567 16.2898 4.17089 17 6.60383 17C 14.5285 17 18.8623 10.4605 18.8623 4.78874C 18.8623 4.60279 18.8582 4.41747 18.8498 4.23376C 19.6923 3.62884 20.4226 2.87318 21 2.01254Z")



                        div.t-featuresOfGoodsWrapper
                            h2.t-featuresOfGoodsTitle Особенности
                            div.t-featuresOfGoodsInfo
                                |Датчики — гироскоп, акселерометр, датчик освещенности, сердечного ритма
                                br
                                |Время автономной работы — 18 часов
                                br
                                |Диагональ дисплея — 1.5 дюйма
                            div.t-featuresOfGoodsMore
                                span.t-moreDots
                                span.t-moreButtonSmall подробнее

                     div.t-aboutGoodsInfoMainFooter
                         ul.t-allFromThisBrandAndCategory
                             li
                                 a(href="#").t-allFromTheThisBrand Вся продукция Boho Dress
                             li
                                 a(href="#").t-allFromTheThisCategory Все подарки с юмором


            div.t-aboutGoodsTabs
                ul.t-tabsControls
                    li
                        a(href="#description") Описание
                    li
                        a(href="#characteristics") Характеристики
                    li
                        a(href="#reviews") Отзывы
                div.t-tabsDescription.t-tabsContiner#description
                    - for (var i = 0; i < 8; i++)
                        h2.t-sectionTitle Первоклассные спортивные часы
                        p Apple Watch Series 2 со встроенным GPS‑модулем позволяют оставить iPhone дома, если вы собрались бегать или ездить на велосипеде. При этом точность измерения вашей тренировки останется прежней. С ними вы можете плавать в бассейне или в море. И продолжать следить за своими показателями. Информация будет четко видна даже под прямыми солнечными лучами. Ведь теперь у вас на руке самый яркий из всех дисплеев Apple.
                div.t-tabsCharacteristics.t-tabsContiner#characteristics
                    - for (var j = 0; j < 8; j++)
                        h2.t-sectionTitle Всё учитывается
                        p Выберите в меню самый подходящий из 12 видов тренировок на открытом воздухе и в помещении. Например, бег, езду на велосипеде или занятие на кардиотренажере. Теперь установите цель и приступайте. Что бы ни входило в программу вашей тренировки, Apple Watch Series 2 точно измерят ваши движения. Вы сможете вывести на экран до пяти физических показателей. Использовать дисплей, чтобы отмечать интервалы. И ставить тренировку на паузу автоматически.
                div.t-tabsReviews.t-tabsContiner#reviews
                    div.t-tabsHeader
                        button.t-btn.t-addReview Оставить отзыв
                        ul.t-sortContainer
                            li.t-sortContainerLinks
                                span.t-sortArrow.t-sortArrowDown По популярности
                            li.t-sortContainerLinks
                                span.t-sortArrow.t-sortArrowDown По дате публикации

                    div.t-tabsBody
                        - for (var k = 0; k < 5; k++)
                            div.t-reviewContainer
                                ul.t-starHolder
                                    li
                                        span.t-star
                                            svg.active(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                                path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                    li
                                        span.t-star
                                            svg.active(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                                path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                    li
                                        span.t-star
                                            svg.active(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                                path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                    li
                                        span.t-star
                                            svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                                path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                                    li
                                        span.t-star
                                            svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                                path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")

                                div.t-reviewNameWrapper
                                    span.t-reviewName Константин
                                div.t-reviewDateWrapper
                                    span.t-reviewDate Сегодня, 15:42
                                div.t-reviewTextWrapper
                                    p Все очень нравится. После 6s плюс размер удобнее и практичнее в использовании. К отсутствию кнопки "Домой" привык в первый же день. Телефон узнает меня моментально. Приятная фишка: взглянул на экран, громкость звонка входящего вызова сразу снижается до еле слышного уровня..
                                      |Пока не могу привыкнуть к тому, что блокировка и кнопка громкости на против - это скриншот. Так вот, часто, вместо выключения телефона, делаю непроизвольно фото экрана, прижимая кнопку напротив громкости.))) В общем телефон прекрасен!!! Только цена высоковата...

                    div.t-tabsFooter
                        button.t-showMoreButton Показать ещё

        section.t-interesting
            h2.t-sectionTitle Возможно вас заинтересуют
            div.t-cardsHolder
                + tCards()
        section.t-bottomInfo
            + tBottomCardHolder()

    div.t-reviewsDialog.t-dialogCard
        div.t-closeBtn.t-reviewsDialogClose
        div.t-reviewsHeader.t-dialogCardHeader
            h3.t-dialogCardTitle Ваша оценка
            ul.t-starHolder.t-reviewsDialogRating
                li
                    span.t-star#star-1
                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                li
                    span.t-star#star-2
                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                li
                    span.t-star#star-3
                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                li
                    span.t-star#star-4
                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")
                li
                    span.t-star#star-5
                        svg(width="19" height="18" viewBox="0 0 19 18" version="1.1" xmlns="http://www.w3.org/2000/svg")
                            path(id="path0_fill" d="M 8.58255 0.630602C 8.89985 -0.210201 10.1001 -0.210201 10.4175 0.630603L 12.1746 5.28684C 12.3123 5.65161 12.6567 5.89952 13.0493 5.91652L 18.0617 6.13353C 18.9668 6.17272 19.3377 7.3038 18.6287 7.86264L 14.7024 10.9574C 14.3948 11.1998 14.2632 11.6009 14.3683 11.9762L 15.7089 16.7666C 15.9509 17.6316 14.9799 18.3306 14.2244 17.8352L 10.0406 15.0916C 9.71284 14.8767 9.28716 14.8767 8.95941 15.0916L 4.77562 17.8352C 4.02013 18.3306 3.04907 17.6316 3.29114 16.7666L 4.63174 11.9762C 4.73676 11.6009 4.60522 11.1998 4.29763 10.9574L 0.371313 7.86263C -0.337684 7.3038 0.0332285 6.17272 0.938332 6.13353L 5.95066 5.91652C 6.34332 5.89952 6.6877 5.65161 6.82535 5.28684L 8.58255 0.630602Z")

        div.t-reviewsBody
            form.t-reviewsForm
                div.t-reviewsFormAboutGoods.t-dialogSections
                    label(for="rewGoodsForm").t-dialogMidTitle Отзыв о товаре
                    input(type="text" id="rewGoodsForm" placeholder="Необязательный комментарий к оценке").t-dialogInputs
                div.t-reviewsFormName.t-dialogSections
                    label(for="rewNameForm").t-dialogMidTitle Имя
                    input(type="text" id="rewNameForm" placeholder="Отображается рядом с комментарием").t-dialogInputs
                div.t-reviewsFormEmail.t-dialogSections
                    label(for="rewEmailForm").t-dialogMidTitle Электронная почта
                    input(type="email" id="rewEmailForm").t-dialogInputs
        div.t-reviewsFooter
            button.t-btn Отправить