extends _layout
block content
    main
        section.t-guarantee.t-mainContainerCection
            h2.t-sectionTitle  Подарки с юмором
                div.t-breadCrumbs
                    ul
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Гарантия
            div.t-standartMainContainer
                h3 Условия гарантийного обслуживания
                p Все условия гарантийного обслуживания, обмена и возврата товара применимы к товарам, приобретенным в розничной сети, интернет-магазине и электронном каталоге.
                br
                br
                - for (var i = 0; i < 5; i++)
                    h3 Условия гарантийного обслуживания
                    p Все условия гарантийного обслуживания, обмена и возврата товара применимы к товарам, приобретенным в розничной сети, интернет-магазине и электронном каталоге.
                    br

        section.t-bottomInfo
            + tBottomCardHolder()