header
  z-index: 2
  display: block
  padding: 0 56px 0 40px
  position: absolute
  top: 40px
  left: 0
  right: 0
  .t-headerLogoWrapper
    .t-headerLogoLink
      text-decoration: none
      display: flex
      align-items: center
      .t-headerLogoSymbol
        width: 56px
        height: 56px
        margin-right: .544em
      .t-headerLogoText
        span
          display: block
          &:first-child
            margin-bottom: .453em
  .t-headerNavigation
    .t-headerNavigationList
      li:not(:last-child)
        margin-right: 3.500em