*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background: #000000
  font-family: Arial, sans-serif
  font-size: 16px
  color: #FFF
  position: relative
  display: flex
  flex-direction: column
  transition: .5s ease

.hidden--block:hover body.show
  transform: translateY(150px)


header, footer
  flex-grow: 0

main
  flex-grow: 1

h1
  margin: 50px 0
