@mixin imgGrid ($qty, $margin)
  width: ((100% - (($qty - 1) * $margin))/$qty)
  &:nth-child(n)
    margin-right: $margin
    margin-bottom: $margin
  &:nth-child(#{$qty}n)
    margin-right: 0
    margin-bottom: 0

main
  max-width: 100%
  display: block

  .container
    width: 75%
    padding: 15px
    height: auto
    margin: 0 auto
    @media (max-width: 769px)
      width: 100%
      padding: 25px
    h1
      text-align: center
      @media (max-width: 769px)
        font-size: 20px
    p
      margin: 100px 0
      @media (max-width: 769px)
        margin: 50px 0
        text-align: center

.imageBlock
  width: 50%
  height: auto
  margin: 0 auto
  @media (max-width: 769px)
    width: 100%
  img
    max-width: 100%
    height: auto
    border-radius: 4px

.thumbnail--container
  display: flex
  flex-wrap: wrap
  .imageBlockTwo
    @media (max-width: 769px)
      @include imgGrid(1, 2%)
      margin: 0!important
    a
      display: block
      img
        width: 100%
        height: auto
        border-radius: 4px
    @include imgGrid(3, 2%)
    .info
      padding: 15px
      text-align: center
      h4
        margin-top: 10px
      p
        margin: 10px 0

.print-btn
  display: block
  margin: 0 auto
  padding: 15px 40px
  cursor: pointer
  outline: none
  border: 1px solid #fff
  border-radius: 3px
  font-size: 20px
  color: #fff
  font-weight: bold
  text-transform: uppercase
  background-color: transparent
  transition: .4s ease
  &:hover
    background-color: #fff
    color: #000
    
    
@media print
  .print-btn, footer, header, .imageBlock
    display: none
  .container
    h1
      margin-top: 80px;