.t-addArticleModalWrapper
  display: none
  min-height: 100vh
  overflow-y: auto
  background-color: $white
  z-index: 1004
  padding-bottom: 30px
  .t-addArticleContainer
    display: flex
    flex-direction: column
    width: 792px
    margin: 62px auto 0 auto
    .t-addArticleRemindMessage
      @include fontsSizes(14, normal, 17)
      color: $dgrey
      margin-bottom: 35px
    .t-addArticleName, .t-textArea
      border: none
      outline: none
      @include fontsSizes(36, bold, 44)
      color: #4F4F4F
      &::-webkit-input-placeholder
        color: $dgrey
    .t-addArticleName
      margin-bottom: 16px
    .t-textArea
      @include fontsSizes(20, normal, 24)
      height: auto
      resize: none
      margin-top: 40px
      line-height: inherit!important
      blockquote
        padding: 0 30px 0 18px
        border-left: 2px solid #333
        margin-top: 21px
        margin-bottom: 21px
    .t-addArticleBtnsHolder
      margin-bottom: 40px
    .t-btnModeration
      margin-right: 16px