.t-authorModal
  display: none
  &.turnAnimation
    .t-authorModalInfo
      animation: animationLeft 1s ease-in-out
    .t-authorModalPhoto
      animation: animationRight 1s ease-in-out
    .t-modalButtonsHolder
      animation: modalButtons .4s ease-in-out
      animation-delay: 1s
  &.closeAnim
    .t-authorModalInfo
      animation: animationLeftHide 1s ease-in-out
    .t-authorModalPhoto
      animation: animationRightHide 1s ease-in-out
  .t-authorModalInfoHolder
    display: flex
  .t-authorModalInfo
    transition: .4s ease-in-out
    overflow: auto
    height: 100vh
    background-color: $white
    flex: 1 1 50%
    padding: 132px 64px
    .t-authorModalName
      margin-bottom: 8px
    .t-authorModalProfession, .t-authorModalAbout, .t-authorModalLikesHolder
      margin-bottom: 40px
    .t-authorModalAbout
      .t-authorModalDescription
        @include fontsSizes(20, normal, 23)
    .t-authorModalAnotherProfiles
      ul
        list-style: none
        margin: 0
        padding: 0
        display: flex
        li:not(:last-child)
          margin-right: 30px
        li
          a
            text-decoration: none
            color: $tBlackSec
    .t-authorModalArticlesHolderWrapper
      margin-top: 48px
  .t-authorModalPhoto
    position: relative
    transition: .4s ease-in-out
    flex: 1 1 50%
    height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
  .t-modalImgOverlay
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,.3)