header
  display: flex
  align-items: center
  padding: 35px 56px 0 40px
  margin-bottom: 34px
  .t-logoSection
    margin-right: 162px
    .t-logoWrapper
      display: inline-block
      .t-logo
        width: 133px
        height: 74px
        background: url("/images/logo/logo.png") no-repeat
        background-size: contain
  .t-topRightSection
    display: flex
    width: calc(100% - 295px)
    @include fontsSizes(14, bold, 17)
    .t-topListCtrl
      display: flex
      width: auto
      list-style: none
      padding: 0
      margin: 0
    .t-nameAndSortWrapper
      display: flex
      margin-right: 40px
      .t-namePage
        margin-right: 40px
      .t-topSortWrapper
        .t-topSortName
          margin-right: 8px

  .t-topMiddleSection
    width: calc(100% - 297.56px)!important
    li:not(:first-child)
      margin-left: 24px
      &:last-child
        margin-left: 8px

  .t-topRightSection
    li:not(:last-child)
      margin-right: 16px

.t-topSortLinks
  position: relative
  @include links()
  @include fontsSizes(14, bold, 17)
  color: $dgrey
  &:before
    content: ''
    position: absolute
    bottom: -2px
    left: 0
    width: 50%
    height: 1px
    background-color: $dgrey
    transition: .3s ease
  &:hover:before
    width: 100%
  &.active
    color: $tBlack
    &:before
      display: none
