.t-mainTopContent
  padding: 40px 56px 0 0
  width: 100%
  margin-bottom: 64px
  @include fontsSizes(14, bold, 17)
  .t-mainTopContentInside
    display: flex
    white-space: nowrap
    align-items: center
    justify-content: space-between
    height: 80px
    padding: 31px 0
    .t-topListCtrl
      display: flex
      width: auto
      list-style: none
      padding: 0
      margin: 0
    .t-nameAndSortWrapper
      width: 100%
      display: flex
      align-items: center
      .t-namePage
        margin-right: 40px
      .t-topSortWrapper
        display: flex
        align-items: center
        .t-topSortName
          margin-right: 8px
  .t-topListCtrlWrapper
    position: relative
    display: flex
    align-items: center

.t-leftAndMidContentContainer
  display: flex
  align-items: center
  width: calc(100% - 100px)
  display: block

.t-topMiddleSection
  width: calc(100% - 265px)!important
  height: 24px
  li
    &:not(:first-child)
      margin-left: 24px
    &.invisible
      opacity: 0
      pointer-events: none

.t-topRightSection
  li:not(:last-child)
    margin-right: 16px

.t-topSortLinks
  @include links()
  @include fontsSizes(14, bold, 17)
  color: $dgrey
  &:after
    content: ''
    display: block
    margin-top: 2px
    bottom: -2px
    left: 0
    width: 50%
    height: 1px
    background-color: $dgrey
    transition: .3s ease
  &:hover:after
    width: 100%
  &.active
    color: $tBlack
    &:after
      display: none


.js-menu-more
  list-style: none
  li:first-child
    margin: 0!important
    height: 0!important

.t-sortMenuHolder
  max-width: 440.88px
  margin-right: 8px
  display: inline-block
  vertical-align: middle
  overflow: hidden!important