.t-mainTopContent
  padding: 40px 56px 0 0
  width: 100%
  margin-bottom: 64px
  @include fontsSizes(14, bold, 17)
  .t-mainTopContentInside
    display: flex
    align-items: center
    justify-content: space-between
    height: 80px
    padding: 31px 0
    .t-topListCtrl
      display: flex
      width: auto
      list-style: none
      padding: 0
      margin: 0 8px 0 0
    .t-nameAndSortWrapper
      display: flex
      align-items: center
      margin-right: 40px
      .t-namePage
        margin-right: 40px
      .t-topSortWrapper
        display: flex
        align-items: center
        .t-topSortName
          margin-right: 8px
  .t-topListCtrlWrapper
    position: relative
    display: flex
    align-items: center

.t-leftAndMidContentContainer
  display: flex
  align-items: center

.t-topMiddleSection
  //width: calc(100% - 297.56px)!important
  li:not(:first-child)
    margin-left: 24px

.t-topRightSection
  li:not(:last-child)
    margin-right: 16px

.t-topSortLinks
  position: relative
  @include links()
  @include fontsSizes(14, bold, 17)
  color: $dgrey
  &:before
    content: ''
    position: absolute
    bottom: -2px
    left: 0
    width: 50%
    height: 1px
    background-color: $dgrey
    transition: .3s ease
  &:hover:before
    width: 100%
  &.active
    color: $tBlack
    &:before
      display: none
