*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  width: 100%
  min-width: 320px
  min-height: 100vh

body
  margin: 0
  padding: 0
  position: relative


.t-mainWrapper
  height: 100vh
  display: flex
  flex-direction: column

.t-contentWrapper
  display: flex

header
  flex: 0 0 auto

main
  flex: 1 1 auto
  width: 100vw
  //min-height: calc(100vh - 462px)

.t-mainPageMain
  width: 100vw
  overflow: hidden
  padding-right: 5px

.t-mainCardsHolder
  display: flex
  flex-wrap: nowrap
  padding-top: 30px

.t-mainCardsHolder::-webkit-scrollbar
  display: none
