doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title SiteName

        link(rel='stylesheet', href="/css/main.min.css")
    body
        include ./_header
        block content
        include ./_footer

        script(src="/js/vendor.min.js")
        script(src="/js/main.min.js")