<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <!--<h1>Data bind:</h1>-->
        <!--<a v-bind:href="site" target="_blank">Sergios Website</a>-->
        <!--<input type="text" v-bind:placeholder="name">-->
        <!--<p v-html="siteTag"></p>-->
        <!--<h1>Events:</h1>-->
        <!--<button v-on:click="add(1)">Add a Year</button>-->
        <!--<button v-on:click="subtract(1)">Subtract a Year</button>-->
        <!--<button v-on:click="add(10)">Add a Year</button>-->
        <!--<button v-on:click="subtract(10)">Subtract a Year</button>-->
        <!--<p>This niggas age is {{age}}</p>-->
        <!--<div id="canvas" v-on:mousemove="updateXY">{{x}}, {{y}}</div>-->
        <!--<a v-on:click.once="doThis" href="http://sergiosvision.github.io" target="_blank">Sergios Website</a>-->
        <!--<h1>Keyboard events</h1>-->
        <!--<label>Name:</label>-->
        <!--<input type="text" v-model="name">-->
        <!--<span>{{name}}</span>-->
        <!--<br>-->
        <!--<br>-->
        <!--<label>Age:</label>-->
        <!--<input type="text" v-model="age">-->
        <!--<span>{{age}}</span>-->

        <!--<h1>Computed Properties</h1>-->

        <!--<button v-on:click="a++">Add to A</button>-->
        <!--<button v-on:click="b++">Add to B</button>-->

        <!--<p>A - {{a}}</p>-->
        <!--<p>B - {{b}}</p>-->

        <!--<p>Age + A = {{addToA}}</p>-->
        <!--<p>Age + B = {{addToB}}</p>-->

        <!--<h1>Dynamic CSS Classes</h1>-->
        <!--<h2>Example 1</h2>-->
        <!--&lt;!&ndash;<div v-on:click="available = !available" v-bind:class="{available: available}">&ndash;&gt;-->
            <!--&lt;!&ndash;<span>RYU</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<h2>Example 2</h2>-->
        <!--<button v-on:click="nearby = !nearby">Toggle nearby</button>-->
        <!--<button v-on:click="available = !available">Toggle available</button>-->
        <!--<div v-bind:class="compClasses">-->
            <!--<span>RYU</span>-->
        <!--</div>-->

        <!--<h1>Conditionals</h1>-->
        <!--<button v-on:click="error = !error">Toggle error</button>-->
        <!--<button v-on:click="success = !success">Toggle Success</button>-->

        <!--&lt;!&ndash;<p v-if="error">Error</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p v-else-if="success">Success</p>&ndash;&gt;-->

        <!--<p v-show="error">Error</p>-->
        <!--<p v-show="success">Success</p>-->

        <!--<h1>Looping with v-for</h1>-->
        <!--<ul>-->
            <!--<li v-for="(character, index) in characters">{{index}}. {{character}}</li>-->
        <!--</ul>-->

        <!--<ul>-->
            <!--<li v-for="(nigga, index) in niggas">{{index}}. {{nigga.name}} - {{nigga.age}}</li>-->
        <!--</ul>-->

        <!--<div style="padding: 10px; text-align: center; background: red; color: #fff;-->
<!--margin-bottom: 30px;" v-for="(nigga, index) in niggas">-->
            <!--<h3>{{index}}. {{nigga.name}}</h3>-->
            <!--<p>{{nigga.age}}</p>-->
        <!--</div>-->
        <!--<template v-for="nigga in niggas">-->
            <!--<div v-for="(val, key) in nigga">-->
                <!--<p>{{key}} - {{val}}</p>-->
            <!--</div>-->
        <!--</template>-->




    </div>
<script src="app.js"></script>
</body>
</html>