.t-contactsWrapper
  margin-top: 48px
  .t-contactNumber
    margin-bottom: 8px
.t-contactsFormWrapper
  margin-top: 48px
  .t-contactsForm
    margin-top: 24px
    .t-formItem
      &:not(:last-child)
        margin-bottom: 24px
      label
        display: block
        margin-bottom: 16px
  .t-sendingWarning
    margin-top: 16px
    width: 272px

.t-contacts
  margin-bottom: 0
