.t-contactsWrapper
  margin-top: 48px
  .t-officeIn
    span
      display: block
      margin-bottom: 16px
    h2
      margin-bottom: 24px
  .t-forApplicants
    margin-top: 48px
    span
      display: block
      margin-bottom: 16px

.t-contactsFormWrapper
  margin-top: 48px
  .t-contactsForm
    margin-top: 24px

.t-contactsInfoWrapper
  .t-contactsWrapper
    margin-right: 167px

.t-contacts
  margin-bottom: 0
