.content--account {
  width: 1022px;
  margin: 0 auto; }
  .content--account .content--account-profile {
    width: 100%;
    margin: 0 auto; }
    .content--account .content--account-profile h1 {
      font-size: 26px;
      margin-bottom: 24px; }
    .content--account .content--account-profile .content--account-email {
      border: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .content--account .content--account-profile .content--account-email label {
        color: #BDBDBD;
        font-size: 12px;
        font-weight: normal; }
      .content--account .content--account-profile .content--account-email input {
        border: none;
        margin-top: 8px;
        font-size: 14px;
        font-weight: normal;
        color: #4F4F4F; }
    .content--account .content--account-profile .signout--account-wrapper {
      display: block;
      margin-top: 16px; }
      .content--account .content--account-profile .signout--account-wrapper .signout--account {
        display: inline-block;
        color: #FF7F66;
        font-size: 14px;
        font-weight: normal; }
    .content--account .content--account-profile .conetnt--change-password {
      margin-bottom: 25px;
      margin-top: 25px;
      visibility: hidden;
      opacity: 0; }
      .content--account .content--account-profile .conetnt--change-password fieldset:not(:last-child) {
        margin-right: 24px; }
      .content--account .content--account-profile .conetnt--change-password fieldset:nth-child(2) {
        margin-left: 0; }
    .content--account .content--account-profile .content--account-change {
      margin-top: 25px;
      margin-bottom: 25px;
      -webkit-transform: translateY(-100px);
          -ms-transform: translateY(-100px);
              transform: translateY(-100px);
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
    .content--account .content--account-profile .content--account-save {
      visibility: hidden;
      opacity: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: translateY(-80px);
          -ms-transform: translateY(-80px);
              transform: translateY(-80px);
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
      .content--account .content--account-profile .content--account-save .blueBtn {
        margin-right: 32px; }
    .content--account .content--account-profile .content--account-history {
      margin-top: 40px; }
      .content--account .content--account-profile .content--account-history p {
        margin-top: 16px; }
    .content--account .content--account-profile .account-history-themes {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 24px; }
      .content--account .content--account-profile .account-history-themes .theme {
        width: 240px;
        height: 340px;
        border: 1px dashed #E5E5E5;
        -webkit-border-radius: 4px;
                border-radius: 4px; }

.content--account-reset {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px; }
  .content--account-reset label {
    color: #BDBDBD;
    font-size: 12px;
    font-weight: normal; }
  .content--account-reset input {
    border: none;
    margin-top: 8px;
    font-size: 14px;
    font-weight: normal;
    color: #4F4F4F; }
  .content--account-reset .iremember--account-wrapper {
    margin-top: 16px; }
    .content--account-reset .iremember--account-wrapper .iremember--account {
      font-size: 12px;
      color: #3399FF;
      font-family: Futura; }
