.content--faq {
  width: 900px;
  margin: 0 auto; }
  .content--faq .accord--item .open--accord-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #F2F2F2; }
    .content--faq .accord--item .open--accord-item:hover h1 {
      color: #39f; }
    .content--faq .accord--item .open--accord-item:hover span {
      color: #39f; }
    .content--faq .accord--item .open--accord-item h1 {
      font-size: 26px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
    .content--faq .accord--item .open--accord-item svg {
      display: block;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      font-size: 20px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      fill: #4f4f4f; }
    .content--faq .accord--item .open--accord-item.is-active {
      border: none;
      margin-bottom: 0; }
      .content--faq .accord--item .open--accord-item.is-active h1 {
        color: #39f; }
      .content--faq .accord--item .open--accord-item.is-active svg {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        fill: #39f; }
  .content--faq .accord--item .accord--item-content {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #F2F2F2;
    display: none;
    margin-bottom: 24px; }
    .content--faq .accord--item .accord--item-content h3 {
      font-size: 16px;
      font-weight: normal;
      color: #4F4F4F; }
