main {
  margin: 57px auto 0 auto;
  width: 100%;
  position: relative; }
  main .jumbotron-wrapper {
    height: 680px;
    width: 1132px;
    margin: 73px 0 0 60px;
    background: url(../images/jumbo/Background.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    main .jumbotron-wrapper .jumbo--images {
      width: 572px;
      position: relative; }
      main .jumbotron-wrapper .jumbo--images img {
        display: block;
        max-width: 100%;
        height: auto; }
      main .jumbotron-wrapper .jumbo--images .big--frame {
        width: 100%;
        -webkit-box-shadow: 0 70px 80px rgba(0, 0, 0, 0.2);
                box-shadow: 0 70px 80px rgba(0, 0, 0, 0.2); }
      main .jumbotron-wrapper .jumbo--images .small--frame {
        width: 179px;
        position: absolute;
        top: 183px;
        right: 89px;
        -webkit-box-shadow: 0 70px 80px rgba(0, 0, 0, 0.2);
                box-shadow: 0 70px 80px rgba(0, 0, 0, 0.2); }
  main .jumbo--info {
    width: 480px;
    margin-top: 75px; }
    main .jumbo--info h1 {
      font-weight: bold;
      color: #4F4F4F;
      font-size: 46px;
      text-transform: uppercase; }
    main .jumbo--info .jumbo--info-buttons {
      margin-top: 20px; }
    main .jumbo--info .blueBtn {
      margin-right: 32px; }

.features--heading {
  text-transform: uppercase;
  font-size: 46px;
  color: #333333;
  text-align: center;
  margin-bottom: 33px; }

.content-features-page {
  margin-top: 64px !important; }

.blueBtn {
  display: inline-block;
  color: #fff;
  background-color: #3399FF;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 31px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .blueBtn:hover {
    background-color: #297ACC; }
  .blueBtn:active {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    background-color: #297ACC; }

.signin--button {
  display: block;
  margin: 0 auto;
  background-color: #3399FF;
  border: none;
  outline: none;
  padding: 9px 61px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  cursor: pointer;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .signin--button:disabled {
    cursor: default;
    background-color: #E0E0E0;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }

.backBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #BDBDBD;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .backBtn svg {
    fill: #BDBDBD;
    margin-right: 8px;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }
  .backBtn:hover {
    color: #3399FF; }
    .backBtn:hover svg {
      fill: #3399FF; }

.howItWorks {
  font-weight: bold;
  color: #BDBDBD;
  font-size: 16px;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .howItWorks:hover {
    color: #3399FF; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 130, 130, 0.6);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  overflow-y: scroll; }

.fixed {
  overflow: hidden; }

.show--modal .overlay,
.show--modal .small--modal-wrapper {
  visibility: visible;
  opacity: 1; }

.show--modal .small--modal-wrapper {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
  display: block; }

.show--modal-big .overlay,
.show--modal-big .big--modal-themes {
  visibility: visible;
  opacity: 1; }

.show--modal-big .big--modal-themes {
  visibility: visible;
  opacity: 1;
  display: block; }

.show--modal-bigPlugins .overlay,
.show--modal-bigPlugins .big--modal-plugins {
  visibility: visible;
  opacity: 1; }

.show--modal-bigPlugins .big--modal-plugins {
  visibility: visible;
  opacity: 1;
  display: block; }

.small--modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 322px;
  height: 278px;
  background-color: #fff;
  padding: 40px 40px 0;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin: auto;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  display: none; }
  .small--modal-wrapper h1 {
    font-size: 26px;
    text-align: center; }
  .small--modal-wrapper .send-link {
    margin-top: 32px; }
    .small--modal-wrapper .send-link .blueBtn {
      width: 100%; }

.big--modal-themes {
  width: 980px;
  max-height: 1081px;
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 40px;
  margin: auto;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  display: none;
  margin-top: 224px;
  margin-bottom: 526px; }
  .big--modal-themes .modal--author {
    margin-top: 8px; }
    .big--modal-themes .modal--author span {
      color: #BDBDBD;
      font-size: 16px;
      font-weight: normal; }
    .big--modal-themes .modal--author span:not(:first-child) {
      margin-left: 16px; }
  .big--modal-themes .modal--info {
    margin-top: 24px; }
    .big--modal-themes .modal--info p {
      font-size: 14px;
      font-weight: normal; }
  .big--modal-themes .select--theme-btn {
    margin-top: 24px; }
  .big--modal-themes .modal--images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
    .big--modal-themes .modal--images img {
      max-width: 100%;
      height: auto;
      display: block; }
    .big--modal-themes .modal--images .modal--images-desk {
      width: 684px; }
    .big--modal-themes .modal--images .modal--images-mob {
      width: 202px;
      margin-left: 15px; }

.big--modal-plugins {
  width: 980px;
  max-height: 1081px;
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin: auto;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  display: none;
  margin-top: 224px;
  margin-bottom: 526px; }
  .big--modal-plugins .modal--plugins-info {
    padding: 40px; }
    .big--modal-plugins .modal--plugins-info h1 {
      margin-bottom: 8px; }
    .big--modal-plugins .modal--plugins-info .modal--plugins-desk {
      margin-top: 24px;
      max-height: 432px;
      height: 432px; }
  .big--modal-plugins .modal--plugins-image h2 {
    padding: 0 40px 16px 40px; }
  .big--modal-plugins .modal--plugins-image img {
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-border-radius: 0 0 8px 8px;
            border-radius: 0 0 8px 8px; }

.content {
  width: 1022px;
  margin: 163px auto 0 auto; }
  .content .feature--item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .content .feature--item:not(:last-child) {
      margin-bottom: 240px; }
    .content .feature--item:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .content .feature--item h2 {
      margin-top: 8px;
      margin-bottom: 10px;
      line-height: 35px; }
  .content .feture--info {
    width: 430px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    color: #4F4F4F; }
    .content .feture--info h1 {
      font-size: 36px;
      margin-bottom: 18px; }
    .content .feture--info h2 {
      font-size: 26px; }
  .content .feture--image {
    width: 280px; }
    .content .feture--image img {
      max-width: 100%;
      height: auto; }

.content--title {
  padding: 0 160px; }

.active--step {
  display: block; }

.active {
  color: #3399FF !important; }
  .active::before {
    background-color: #3399FF !important; }

.cancelBtn {
  display: block;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: bold; }

.tab-content > .tab-pane {
  visibility: hidden;
  display: none; }

.tab-content > .active {
  visibility: visible;
  display: block; }

.tab-content > .active .finish--img {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-box-shadow: 0 70px 80px rgba(0, 0, 0, 0.3);
          box-shadow: 0 70px 80px rgba(0, 0, 0, 0.3); }

.popup--help-wrap {
  position: fixed;
  bottom: 40px;
  right: 40px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  z-index: 6; }
  .popup--help-wrap.help--active {
    bottom: 192px; }
  .popup--help-wrap .popup--help-btn {
    width: 40px;
    height: 41px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.6);
            box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.6);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    z-index: 4; }
    .popup--help-wrap .popup--help-btn svg {
      fill: #3399FF; }
    .popup--help-wrap .popup--help-btn:hover {
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease;
      -webkit-animation: pulse 2s linear infinite;
              animation: pulse 2s linear infinite; }
    .popup--help-wrap .popup--help-btn:active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }

.popup--help-content {
  width: 128px;
  height: 110px;
  background-color: #fff;
  padding: 16px 16px 0 32px;
  position: absolute;
  right: 0;
  bottom: 42px;
  -webkit-border-radius: 10% 10% 0 10%;
          border-radius: 10% 10% 0 10%;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 5; }
  .popup--help-content .circle--close {
    cursor: pointer;
    font-family: Futura;
    position: absolute;
    bottom: -48px;
    right: 0;
    width: 56px;
    height: 48px;
    background-color: #fff;
    -webkit-border-radius: 0 0 50% 50%;
            border-radius: 0 0 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 4; }
    .popup--help-content .circle--close span {
      font-size: 28px;
      color: #4f4f4f;
      font-family: Futura;
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
    .popup--help-content .circle--close:hover span {
      color: #3399FF; }
  .popup--help-content::before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    right: 56px;
    bottom: -22px; }
  .popup--help-content .circle {
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: -44px;
    right: 56px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff; }
  .popup--help-content.show-popup-content {
    opacity: 1;
    visibility: visible; }
  .popup--help-content ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .popup--help-content ul li:not(:last-child) {
      margin-bottom: 8px; }
    .popup--help-content ul a {
      font-size: 16px;
      font-weight: normal;
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
      .popup--help-content ul a:hover {
        color: #3399FF; }

@media (min-width: 980px) and (max-width: 1288px) {
  .big--modal-themes, .big--modal-plugins {
    width: 80%; }
  main .content {
    width: 100%; }
  main .content-features, main .content-features-page, main .content--account {
    width: 90%; }
  main .content--tehemes .theme--form {
    width: 100%;
    padding: 0 60px; }
    main .content--tehemes .theme--form .theme--card {
      width: 22%;
      width: 240px !important; }
      main .content--tehemes .theme--form .theme--card:nth-child(n) {
        margin-right: 4%;
        margin-bottom: 4%; }
      main .content--tehemes .theme--form .theme--card:nth-child(4n) {
        margin-right: 0;
        margin-bottom: 0; }
  main .content--plugins {
    width: 100%; }
  main .plugins--container {
    padding: 0 60px; }
    main .plugins--container .plugins--category {
      width: 100%; }
      main .plugins--container .plugins--category .category--title {
        margin-left: 115px; }
      main .plugins--container .plugins--category .main--plugins-list {
        width: 49%;
        margin-bottom: 40px !important; }
        main .plugins--container .plugins--category .main--plugins-list:nth-child(n) {
          margin-right: 2%;
          margin-bottom: 2%; }
        main .plugins--container .plugins--category .main--plugins-list:nth-child(2n) {
          margin-right: 0;
          margin-bottom: 0; }
        main .plugins--container .plugins--category .main--plugins-list .category--item {
          margin: 12px auto 0 auto; }
          main .plugins--container .plugins--category .main--plugins-list .category--item:first-child {
            margin-top: 0; } }

@media (min-width: 980px) and (max-width: 1209px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .brand--logo {
      margin-bottom: 20px; }
  main .jumbotron-wrapper {
    width: 100%;
    margin: 0;
    height: 610px;
    margin-top: 73px;
    padding: 0 30px; }
  main .jumbo--info {
    margin-bottom: 75px;
    margin-top: 30px;
    width: 450px;
    margin-left: 20px; }
  main .jumbo--images {
    width: 450px !important; } }

@media (min-width: 769px) and (max-width: 979px) {
  .big--modal-themes, .big--modal-plugins {
    width: 80%;
    margin-bottom: 300px; }
  .content--title {
    width: 100%; }
  .steps--container {
    width: 100% !important;
    margin: 0 auto 64px auto !important;
    padding: 0 100px; }
  .step--login {
    margin-top: 58px !important; }
  .content--tehemes {
    margin: 0 auto !important; }
  .hamburger {
    display: block; }
  .content--title {
    width: 100%; }
  header {
    position: relative; }
    header .navigation {
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
      right: 16px;
      top: 24px;
      background-color: #fff;
      padding: 84px 42px 72px 42px;
      border: 1px solid #F2F2F2;
      z-index: 2;
      max-width: 320px;
      height: auto;
      visibility: hidden;
      opacity: 0;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      -webkit-transform: scale(0.4);
          -ms-transform: scale(0.4);
              transform: scale(0.4);
      -webkit-transition-delay: .2s;
           -o-transition-delay: .2s;
              transition-delay: .2s; }
      header .navigation.show--mobile-nav {
        -webkit-border-radius: 0;
                border-radius: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition-delay: 0s;
             -o-transition-delay: 0s;
                transition-delay: 0s; }
      header .navigation.show--mobile-nav li {
        opacity: 1;
        -webkit-transition-delay: .2s;
             -o-transition-delay: .2s;
                transition-delay: .2s; }
      header .navigation li {
        margin: 0 !important;
        margin-bottom: 24px !important;
        text-align: center;
        opacity: 0;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease; }
        header .navigation li:first-child {
          margin-bottom: 32px !important; }
        header .navigation li:last-child {
          margin-bottom: 0 !important; }
        header .navigation li .create--site {
          display: inline-block;
          color: #fff;
          background-color: #3399FF;
          font-weight: bold;
          font-size: 16px;
          padding: 9px 31px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          text-align: center;
          -webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1); }
  main .jumbotron-wrapper {
    width: 100%;
    margin: 0;
    height: auto;
    margin-top: 73px;
    padding: 0 30px; }
    main .jumbotron-wrapper .jumbo--info {
      margin-bottom: 75px;
      margin-top: 30px;
      width: 370px;
      margin-left: 30px; }
      main .jumbotron-wrapper .jumbo--info h1 {
        font-size: 36px; }
      main .jumbotron-wrapper .jumbo--info .jumbo--info-buttons .blueBtn {
        font-size: 12px; }
    main .jumbotron-wrapper .jumbo--images {
      width: 341px; }
      main .jumbotron-wrapper .jumbo--images .small--frame {
        width: 106px;
        right: 53px;
        top: 109px; }
  main .content {
    width: 100%;
    margin: 163px auto 0 auto;
    padding: 0 30px; }
  main .back--forward {
    margin: 40px auto 0; }
  main .content--tehemes .theme--form {
    width: 100%; }
  main .content--tehemes .theme--card {
    width: 240px;
    height: 500px;
    margin-right: 0 !important; }
  main .content--plugins {
    margin-top: 64px; }
  main .main--plugins-list {
    width: 50% !important; }
    main .main--plugins-list .category--title {
      margin-left: 100px !important; }
    main .main--plugins-list .category--list {
      margin-bottom: 40px !important; }
      main .main--plugins-list .category--list .category--item {
        margin: 12px auto 0 auto; }
        main .main--plugins-list .category--list .category--item:first-child {
          margin-top: 0; }
  .content--login {
    margin-top: 64px !important; }
  .content-finish .finish--img {
    width: 85%;
    margin: 0 auto; }
  .content--blog, .content--about, .content--contacts,
  .content--account, .content--help, .content--faq {
    margin-top: 64px !important;
    width: 100% !important;
    padding: 0 30px; } }

@media (min-width: 769px) and (max-width: 876px) {
  main .content--tehemes .theme--form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    main .content--tehemes .theme--form .theme--card {
      margin-right: 10% !important; }
      main .content--tehemes .theme--form .theme--card:nth-child(2n) {
        margin-right: 0 !important; }
      main .content--tehemes .theme--form .theme--card:last-child {
        margin: 0 !important; } }

@media (max-width: 768px) {
  header {
    position: relative; }
    header .navigation {
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
      right: 16px;
      top: 24px;
      background-color: #fff;
      padding: 84px 42px 72px 42px;
      border: 1px solid #F2F2F2;
      z-index: 2;
      max-width: 320px;
      height: auto;
      visibility: hidden;
      opacity: 0;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      -webkit-transform: scale(0.4);
          -ms-transform: scale(0.4);
              transform: scale(0.4);
      -webkit-transition-delay: .2s;
           -o-transition-delay: .2s;
              transition-delay: .2s; }
      header .navigation.show--mobile-nav {
        -webkit-border-radius: 0;
                border-radius: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition-delay: 0s;
             -o-transition-delay: 0s;
                transition-delay: 0s; }
      header .navigation.show--mobile-nav li {
        opacity: 1;
        -webkit-transition-delay: .2s;
             -o-transition-delay: .2s;
                transition-delay: .2s; }
      header .navigation li {
        margin: 0 !important;
        margin-bottom: 24px !important;
        text-align: center;
        opacity: 0;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease; }
        header .navigation li:first-child {
          margin-bottom: 32px !important; }
        header .navigation li:last-child {
          margin-bottom: 0 !important; }
        header .navigation li .create--site {
          display: inline-block;
          color: #fff;
          background-color: #3399FF;
          font-weight: bold;
          font-size: 16px;
          padding: 9px 31px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          text-align: center;
          -webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1); } }

@media (min-width: 1600px) {
  main .jumbotron-wrapper {
    width: 1600px;
    margin: 0 auto;
    margin-top: 73px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    main .jumbotron-wrapper .jumbo--images {
      margin-right: 80px;
      width: 796px; }
      main .jumbotron-wrapper .jumbo--images .small--frame {
        top: 254px;
        right: 123px; }
    main .jumbotron-wrapper .jumbo--info {
      margin-top: 80px; } }

.account--form-show {
  visibility: visible !important;
  opacity: 1 !important; }

.account--form-hide {
  visibility: hidden !important;
  opacity: 0 !important; }
