footer {
  margin-top: 300px;
  position: relative; }

.footer--main {
  background-color: #F7FBFF;
  padding: 24px 0; }
  .footer--main ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
    .footer--main ul li:not(:first-child) {
      margin-left: 40px; }
    .footer--main ul a {
      color: #4F4F4F;
      font-size: 14px;
      font-weight: normal; }

.footer--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 40px; }
  .footer--bottom .footer--bottom-copy p {
    font-weight: bold;
    font-size: 16px;
    color: #BDBDBD; }
  .footer--bottom .t-logo a {
    display: block; }
  .footer--bottom .t-logo svg {
    fill: #BDBDBD;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
  .footer--bottom .t-logo:hover svg {
    fill: #d52b1e; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.6);
            box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.6); }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(51, 153, 255, 0);
            box-shadow: 0 0 0 15px rgba(51, 153, 255, 0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 153, 255, 0);
            box-shadow: 0 0 0 0 rgba(51, 153, 255, 0); } }

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.6);
            box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.6); }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(51, 153, 255, 0);
            box-shadow: 0 0 0 15px rgba(51, 153, 255, 0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(51, 153, 255, 0);
            box-shadow: 0 0 0 0 rgba(51, 153, 255, 0); } }
