header {
  padding: 48px 40px 0; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  header a {
    text-decoration: none; }
  header .brand--logo a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease; }
    header .brand--logo a:hover .logo span {
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease;
      width: 100% !important; }
  header .logo {
    width: 20px;
    height: 27px;
    margin: 4px 8px 0;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }
    header .logo span {
      height: 4px;
      width: 100%;
      display: block;
      background-color: #3399FF;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease;
      margin-top: 6px; }
      header .logo span:not(:first-child) {
        margin-top: 4px; }

.line-2 {
  width: 16px !important; }

.line-3 {
  width: 12px !important; }

.navigation--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .navigation--wrapper svg {
    margin-left: 40px; }

.navigation {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .navigation li:not(:first-child) {
    margin-left: 40px; }
  .navigation a {
    font-size: 16px;
    display: block;
    font-weight: bold;
    color: #333333; }
  .navigation .create--site {
    color: #3399FF; }

.profile svg {
  fill: #3399FF; }

.hamburger {
  width: 24px;
  height: 20px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  margin-left: 24px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: none;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .hamburger span {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #4F4F4F;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    left: 0;
    opacity: 1;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease; }
    .hamburger span:nth-child(1) {
      -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center; }
    .hamburger span:nth-child(2) {
      margin-top: 4px;
      -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center; }
    .hamburger span:nth-child(3) {
      margin-top: 4px;
      -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center; }

.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0; }

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 5px; }
