div.t-logoSection
    a(href="/").t-logoWrapper
        div.t-logo

div.t-topRightSection
    div.t-nameAndSortWrapper
        span.t-namePage Всё сразу
        div.t-topSortWrapper
            span.t-topSortName По дате
            span.t-icon Ico
    ul.t-topListCtrl.t-topMiddleSection
        li
            a(href="#").t-topSortLinks.active Все темы
        li
            a(href="#").t-topSortLinks Дизайн
        li
            a(href="#").t-topSortLinks Маркетинг
        li
            a(href="#").t-topSortLinks CEO
        li
            a(href="#").t-topSortLinks Разработка
        li
            a(href="#").t-topSortLinks Бизнес
        li
            a(href="#").t-topSortLinks ico
    ul.t-topListCtrl.t-topRightSection
        li ico
        li ico
        li ico
