header
    a(href="/").t-logoWrapper
        div.t-logo
    div.t-sortAndCatWrapper
        ul.t-sortContainer
            li
                a(href="#") Всё сразу
            li
                a(href="#") По дате
            li i
        ul.t-categoriesContainer
            li.active
                a(href="#") Все темы
            li
                a(href="#") Дизайн
            li
                a(href="#") Маркетинг
            li
                a(href="#") CEO
            li
                a(href="#") Разработка
            li
                a(href="#") Бизнес
            li i
        ul.t-headerButtons
            li i
            li I
            li I
