@import "../../css/fonts.css"

*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  width: 100%
  min-width: 320px
  min-height: 100vh

body
  margin: 0px
  padding: 0px
  position: relative
  font-size: 16px
  font-family: Museo
  background-color: $white
  //height: 100vmax
  min-height: 100vh
  position: relative
  //@include fluidFontSize(10px, 16px, 769px, 1920px, 80px)

main
  min-height: calc(100vh - 244px)

footer
  background-color: $footer
  padding: 32px


.t-insideMain
  height: 100%

a
  text-decoration: none

// Default Props

.t-wrapper
  position: relative
  &.mainPageActive
    overflow-y: hidden

.t-btn
  display: inline-block
  padding: 17px 32px
  outline: none
  font-size: 10px
  color: $black
  border: 1px solid $dblue
  text-decoration: none
  cursor: pointer
  background-color: transparent
  &.t-btnWhite
    border-color: $white
    color: $white
  &.disabled,&:disabled
    color: $grey
    border: 1px dashed $grey
    cursor: default
  &.t-btnUpperCase
    text-transform: uppercase

.t-documentItem
  display: inline-block
  cursor: pointer
  .t-documentIcon
    display: inline-block
  .t-documentInfoHolder
    display: inline-block
    margin-left: 24px
    .t-documentTitleWrapper
      .t-documentTitle
        line-height: 30px
        margin-bottom: 4px
.documentsList
  .t-documentItem
    &:not(:last-child)
      margin-bottom: 32px

.t-accordItem
  padding: 40px 0
  border-bottom: 1px solid rgba(0,0,0,.15)
  &:last-child
    border: none
  .t-openAccordItem
    transition-property: border-bottom
    transition-delay: .43s
    cursor: pointer
    .t-accordItemArrow
      svg
        transition: .4s
    &.is-active
      border: none
      transition-property: border-bottom
      transition-delay: .43s
      .t-accordItemArrow
        svg
          transform: rotate(180deg)
    .t-accordItemArrow
      margin-left: 16px
  .t-vacancyName
    line-height: 30px
    margin-bottom: 4px
    transition: .4s
  .t-payValue
    line-height: 19px
    transition: .4s
  .t-accordItemContent
    display: none
    padding-top: 24px
    p
      font-size: 16px
      font-weight: 300
      line-height: 19px
      color: $secondBlack
    h4
      font-size: 16px
      font-weight: 500
      line-height: 19px
      color: $secondBlack
  &:hover
    .t-payValue, .t-vacancyName
      color: $dblue
    .t-accordItem
      .t-accordItemArrow


.t-insideJumbotron
  width: 100%
  height: 600px
  .t-mobileSubMenuHolder
    position: absolute
    left: 0
    right: 0
    top: 104px
    text-align: center
    margin-bottom: 0
    .t-mobileSubMenu
      width: 70%

.t-mobileSubMenuHolder
  margin-bottom: 24px
  .t-mobileSubMenu
    appearance: none
    background-color: transparent
    color: $dblue
    border-radius: 0
    padding: 16px 14px
    font-size: 12px
    font-weight: 500
    line-height: 14px
    outline: none
    border-color: $dblue
    width: 100%
    background: url("/images/icons/SVG-optim/dropBlueArrow.svg") no-repeat 96% center



.t-coloredSubMenu
  .t-mobileSubMenuHolder
    .t-mobileSubMenu
      color: $white
      border-color: $white
      background: url("/images/icons/SVG-optim/dropWhiteArrow.svg") no-repeat 96% center

.t-right
  float: right

.t-mainList
  margin: 0
  padding: 0
  list-style: none

// Text Sizes Controls

.t-bigTitle
 @include textParams(80, 900, $white)

.t-bigLight
  @include textParams(50, 100, $black)

.t-middleTitle
  @include textParams(40, 900, $black)
  &.t-middleTitleMidLight
    font-weight: 500

.t-middleText
  @include textParams(26, 500, $black)

.t-fontTwenty
  @include textParams(20, 300, $secondBlack)

.t-standardTitle
  @include textParams(16, 500, $white)
  &.t-standardTitleMidLight
    font-weight: 300
  &.t-standardTitleBold
    font-weight: 900

.t-standardTitleLight
  @include textParams(16, 100, $black)


.t-smallTitleLight
  @include textParams(14, 100, $white)

// // Text Sizes Controls End

.t-block
  display: block

.t-none
  display: none!important

.t-flex
  display: flex
  &.t-flexAlign
    align-items: center
  &.t-flexColumn
    flex-direction: column
  &.t-flexCenter
    justify-content: center
  &.t-flexSB
    justify-content: space-between
  &.t-flexSelfEnd
    align-self: flex-end
  &.t-flexWrap
    flex-wrap: wrap
  &.t-flexAlignItemsEnd
    align-items: flex-end


.t-logoColorful
  .t-svgSymbolLogoTop
    fill: $lBlue
  .t-svgSymbolLogoMid
    fill: $green
  .t-svgSymbolLogoBottom
    fill: $dblue
  .t-svgLogoWorld, .t-svgLogoText
    fill: $dblue

.t-top48
  margin-top: 48px

.t-iconGreen
  svg
    fill: $green
.t-iconDblue
  svg
    fill: $dblue
.t-iocnLblue
  svg
    fill: $lBlue


.t-blackLinks
  a
    color: $secondBlack!important

.t-blackColor
  color: $secondBlack

.t-blackPrimaryColor
  color: $black

.t-linkItem
  text-decoration: none
  display: inline-block
  color: $black
  padding-bottom: 1px
  border-bottom: 1px solid $grey
  &.t-linkItemTitle
    font-weight: 900
  &.t-white
    color: $white

.t-white
  color: $white
.t-grey
  color: $grey

.t-bars
  width: 40px
  height: 26px
  .t-line
    display: block
    width: 100%
    height: 2px
    background-color: $dblue
    &:not(:last-child)
      margin-bottom: 10px


.t-mainContentWrapper
  width: 1000px
  margin: 0 auto!important
  height: 100%

.t-mainContentContainer
  padding: 0 116px

.t-mainContentSmallContainer
  p
    @include textParams(16, 300, $black)
    line-height: 19px

.t-simpleRightSideMenu
  li
    &:not(:last-child)
      margin-bottom: 8px
    &.active
      a
        color: $dblue
    a
      text-decoration: none
      color: $grey
      font-size: 12px
      font-weight: 500
      transition: .3s ease
      &:hover
        color: $dblue


.t-rightAside
  margin-left: 88px
  margin-top: 96px


.t-eventCardWrapper
  display: block
  text-decoration: none
  &:not(:last-child)
    margin-bottom: 24px

.t-eventCard
  .t-eventCardImg
    width: 160px
    height: 90px
    margin-right: 16px
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 4px
  .t-eventCardInfo
    .t-eventCardInfoDateHolder
      margin-bottom: 4px

.t-defaultP
  margin: 0 auto 298px auto
  padding-top: 158px

.t-grid
  display: flex
  flex-wrap: wrap
  .t-gridItem
    text-align: center
    @include bGrid(2, 10%)
    .t-gridItemImg
      width: 100%
      height: auto
      img
        max-width: 100%
        height: auto

.t-input
  display: block
  background-color: transparent
  outline: none
  border: none
  border-bottom: 1px solid rgba(0,0,0,.2)
  @include textParams(16, 100, $black)
  line-height: 19px
  padding-bottom: 8px
  width: 272px
  transition: .3s ease
  &:active, &:focus
    border-bottom-color: $dblue


.t-pageNotFound
  height: 100vh
  display: flex
  align-items: center
  width: 768px
  margin: 0 auto
  .t-pageNotFoundInfoHolder
    margin-top: -300px
    .t-O_o
      margin-bottom: 24px
    .t-pageNotFoundText
      margin-bottom: 8px
    .t-pageHasBeenDeleted
      margin-bottom: 16px


.t-superSmallDropMenu
  padding: 24px
  background-color: $white
  &.t-defaultStylesSuperSmallDropMenu
    ul
      li
        color: $secondBlack
        line-height: 19px
        cursor: pointer
        transition: .3s ease
        &:not(:last-child)
          margin-bottom: 16px
        &:hover, &.active
          color: $dblue



.t-smallInputs
  .t-formItem
    width: 45%
    .t-input
      width: 100%

.t-formItem
  &:not(:last-child)
    margin-bottom: 24px
  label
    display: block
    margin-bottom: 16px

.t-sendingWarning
  margin-top: 16px
  width: 272px

.t-dialog
  display: block
  width: 320px
  padding: 24px
  background-color: $white
  z-index: 100
  animation: dialog .2s linear
  position: relative
  height: auto
  margin: auto
  margin-top: 151px
  margin-bottom: 151px
  .t-dialogTitleWrapper
    margin-bottom: 24px
  .t-grid
    .t-gridItem
      text-align: left
      @include bGrid(2, 2.8%)
      input
        &::placeholder
          color: $grey
          font-size: 16px
          font-weight: 300
          line-height: 19px

.t-makeOrderDialog
  max-width: 640px
  width: 100%
  .t-dialogTitleWrapper
    margin-bottom: 40px
  .t-grid
    .t-gridItem
      align-items: flex-start!important
      &:not(:last-child)
        margin-bottom: 40px
      &:last-child
        width: 100%
        input
          width: 100%
  .t-sendingWarning
    width: 100%
    margin-top: 0
    margin-left: 16px

.t-overlay
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  background-color: rgba(0,0,0,0.8)
  z-index: 99
  margin: 20px
  overflow-y: auto
  .t-closeDialog
    width: 24px
    height: 24px
    position: fixed
    right: 60px
    top: 60px
    cursor: pointer

.t-removeTransition
  transition: none!important


.t-frameSecond
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/images/backgrounds/ground.png") no-repeat
  background-position: center center
  z-index: -1
  width: 280px
  height: 100vh
  background: $white
  position: absolute
  left: 0
  top: 0
  bottom: 0
  &:after
    content: ""
    position: absolute
    left: 65%
    top: 0
    border-right: 100px solid #fff
    border-left: 0 solid transparent
    border-top: 50vh solid transparent
    transform: rotateX(180deg)
  &:before
    content: ""
    position: absolute
    left: 65%
    bottom: 0
    border-right: 100px solid #fff
    border-left: 0 solid transparent
    border-top: 50vh solid transparent
    transform: none


.t-barsWrapper
  display: none
  cursor: pointer
  width: 40px
  height: 26px
  position: relative
  margin-top: -8px
  .t-bars
    position: absolute
    background: $white
    width: 100%
    height: 2px
    opacity: 1
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    &:before, &:after
      position: absolute
      background: $white
      width: 100%
      height: 2px
      content: ""
      display: block
    &:before
      top: -20px
      left: 0
      right: 0
      bottom: 0
      margin: auto
    &:after
      top: 0
      left: 0
      right: 0
      bottom: -20px
      margin: auto
  &.t-barsBlue
    .t-bars
      background-color: $dblue
      &:before, &:after
        background-color: $dblue

.t-closeWrapper
  position: relative
  width: 24px
  height: 24px
  cursor: pointer
  margin-right: 7px
  .t-close
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      margin: auto
      width: 100%
      height: 2px
      border-radius: 2px
      background-color: $dblue
      transform: rotate(45deg)
    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      margin: auto
      width: 100%
      height: 2px
      border-radius: 2px
      background-color: $dblue
      transform: rotate(-45deg)


.t-employeesContainer, .t-vacancy, .t-clients, .t-contacts
  margin-bottom: 0!important
  padding-bottom: 200px!important

.t-divMainWrap
  position: relative


// Default Props End