.content--account
  width: 100%
  margin: 0 auto
  .content--account-profile
    width: 100%
    margin: 0 auto
    h1
      font-size: 26px
      margin-bottom: 24px
    .content--account-email
      border: none
      display: flex
      flex-direction: column
      label
        color: #BDBDBD
        font-size: 12px
        font-weight: normal
      input
        border: none
        margin-top: 8px
        font-size: 14px
        font-weight: normal
        color: #4F4F4F
    .conetnt--change-password
        margin-bottom: 25px
        margin-top: 25px
        display: none
        fieldset
          &:not(:last-child)
            margin-right: 24px
          &:nth-child(2)
            margin-left: 0
    .content--account-change
      margin-top: 25px
      margin-bottom: 25px
    .content--account-save
      display: none
      //display: flex
      align-items: center
      .blueBtn
        margin-right: 32px
    .content--account-history
      margin-top: 40px
      p
        margin-top: 16px
    .account-history-themes
      width: 100%
      display: flex
      justify-content: space-between
      margin-top: 24px
      .theme
        width: 240px
        height: 340px
        border: 1px dashed #E5E5E5
        border-radius: 4px