@media (max-width: 1200px)
  .t-firstLogo
    display: none
  .t-secondLogo
    display: block!important
  header .brand-logo
    left: 40%
    top: 50%
    transform: none

@media (max-width: 1000px)
  header .brand-logo
    left: 35%

@media (max-width: 980px)
  header .t-catalog
    width: auto
  header .t-catalog .buyerAndCompanyWrapper
    display: none
  header .brand-logo
    position: static
    left: 0
  .t-mainPage
    width: 100%
