// Fonts Remind
// font-family: 'Lobster', cursive;

@import url('https://fonts.googleapis.com/css?family=Lobster');

$mainWhite: #fff;
$lightBlack: #292929;
$preloadBalack: #585858;
$preloadBlue: #33a8e6;

$mainFont: 'Lobster', cursive;