@mixin imgGrid ($qty, $margin)
  width: ((100% - (($qty - 1) * $margin))/$qty)
  &:nth-child(n)
    margin-right: $margin
    margin-bottom: $margin
  &:nth-child(#{$qty}n)
    margin-right: 0
    margin-bottom: 0


main
  margin: 57px auto 0 auto
  width: 100%
  position: relative
  .jumbotron-wrapper
    height: 680px
    width: 1132px
    margin: 73px 0 0 60px
    background: url(../images/jumbo/Background.png) no-repeat
    background-size: cover
    display: flex
    justify-content: space-between
    .jumbo--images
      width: 572px
      position: relative
      img
        display: block
        max-width: 100%
        height: auto
      .big--frame
        width: 100%
        box-shadow: 0 70px 80px rgba(0, 0, 0, 0.2)
      .small--frame
        width: 179px
        position: absolute
        top: 183px
        right: 89px
        box-shadow: 0 70px 80px rgba(0, 0, 0, 0.2)
  .jumbo--info
    width: 480px
    margin-top: 75px
    h1
      font-weight: bold
      color: #4F4F4F
      font-size: 46px
      text-transform: uppercase
    .jumbo--info-buttons
      margin-top: 20px
    .blueBtn
      margin-right: 32px

.features--heading
  text-transform: uppercase
  font-size: 46px
  color: #333333
  text-align: center
  margin-bottom: 33px
.content-features-page
  margin-top: 64px!important

.blueBtn
  display: inline-block
  color: #fff
  background-color: #3399FF
  font-weight: bold
  font-size: 16px
  padding: 9px 31px
  border-radius: 20px
  text-align: center
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1)
  transition: .4s ease
  &:hover
    background-color: #297ACC
  &:active
    transform: translateY(3px)
    background-color: #297ACC

.signin--button
  display: block
  margin: 0 auto
  background-color: #3399FF
  border: none
  outline: none
  padding: 9px 61px
  color: #fff
  font-size: 16px
  font-weight: bold
  border-radius: 20px
  cursor: pointer
  transition: .4s ease
  &:disabled
    cursor: default
    background-color: #E0E0E0
    transition: .4s ease
    


.backBtn
  display: flex
  flex-direction: row-reverse
  justify-content: center
  align-items: center
  font-weight: bold
  font-size: 16px
  color: #BDBDBD
  transition: .4s ease
  svg
    fill: #BDBDBD
    margin-right: 8px
    transition: .4s ease
  &:hover
    color: #3399FF
    svg
      fill: #3399FF

.howItWorks
  font-weight: bold
  color: #BDBDBD
  font-size: 16px
  transition: .4s ease
  &:hover
    color: #3399FF


.overlay
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-color: rgba(130, 130, 130, .6)
  z-index: 50
  opacity: 0
  visibility: hidden
  transition: .5s ease

.fixed
  overflow: hidden

.show--modal .overlay,
.show--modal .small--modal-wrapper
  visibility: visible
  opacity: 1

.show--modal .small--modal-wrapper
  transform: none
  visibility: visible
  opacity: 1

.show--modal-big .overlay,
.show--modal-big .big--modal-themes
  visibility: visible
  opacity: 1

.show--modal-big .big--modal-themes
  transform: none
  visibility: visible
  opacity: 1

.show--modal-bigPlugins .overlay,
.show--modal-bigPlugins .big--modal-plugins
  visibility: visible
  opacity: 1

.show--modal-bigPlugins .big--modal-plugins
  transform: none
  visibility: visible
  opacity: 1

.small--modal-wrapper
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 322px
  height: 278px
  background-color: #fff
  padding: 40px 40px 0
  border-radius: 8px
  margin: auto
  z-index: 50
  visibility: hidden
  opacity: 0
  transition: .5s ease
  transform: translateY(-3000px)
  h1
    font-size: 26px
    text-align: center
  .send-link
    margin-top: 32px
    .blueBtn
      width: 100%

.big--modal-themes
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 980px
  max-height: 1081px
  overflow: auto
  background-color: #fff
  border-radius: 8px
  padding: 40px
  margin: auto
  z-index: 50
  visibility: hidden
  opacity: 0
  transition: .5s ease
  transform: translateY(-3000px)
  .modal--author
    margin-top: 8px
    span
      color: #BDBDBD
      font-size: 16px
      font-weight: normal
    span:not(:first-child)
      margin-left: 16px
  .modal--info
    margin-top: 24px
    p
      font-size: 14px
      font-weight: normal
  .select--theme-btn
    margin-top: 24px
  .modal--images
    display: flex
    margin-top: 40px
    img
      max-width: 100%
      height: auto
    .modal--images-desk
      width: 684px
    .modal--images-mob
      width: 202px
      margin-left: 15px

.big--modal-plugins
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 980px
  max-height: 1081px
  overflow: auto
  background-color: #fff
  border-radius: 8px
  margin: auto
  z-index: 50
  visibility: hidden
  opacity: 0
  transition: .5s ease
  transform: translateY(-3000px)
  .modal--plugins-info
    padding: 40px
    h1
      margin-bottom: 8px
    .modal--plugins-desk
      margin-top: 24px
      max-height: 432px
      height: 432px
  .modal--plugins-image
    h2
      padding: 0 40px 16px 40px
    img
      max-width: 100%
      height: auto

.content
  width: 1022px
  margin: 163px auto 0 auto

  .feature--item
    display: flex
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 240px
    &:nth-child(even)
      flex-direction: row-reverse
    h2
      margin-top: 8px
      margin-bottom: 10px
      line-height: 35px
  .feture--info
    width: 430px
    align-self: center
    color: #4F4F4F
    h1
      font-size: 36px
      margin-bottom: 18px
    h2
      font-size: 26px
  .feture--image
    width: 280px
    img
      max-width: 100%
      height: auto

.content--title
  padding: 0 160px


.active--step
  display: block

.active
    color: #3399FF!important
    &::before
      background-color: #3399FF!important


.cancelBtn
  display: block
  color: #BDBDBD
  font-size: 14px
  font-weight: bold

.tab-content>.tab-pane
  visibility: hidden
  display: none

.tab-content>.active
  visibility: visible
  display: block

@media (min-width: 980px) and (max-width: 1288px)
  main
    .content
      width: 100%
    .content-features, .content-features-page, .content--account
      width: 90%

    .content--tehemes .theme--form
      width: 100%
      padding: 0 60px
      .theme--card
        @include imgGrid(4, 4%)
        width: 240px!important
    .content--plugins
      width: 100%
    .plugins--container
      padding: 0 60px
      .plugins--category
        width: 100%
        .category--title
          margin-left: 115px
        .main--plugins-list
          @include imgGrid(2, 2%)
          margin-bottom: 40px!important
          .category--item
            margin: 12px auto 0 auto
            &:first-child
              margin-top: 0

@media (min-width: 980px) and (max-width: 1209px)
   header
    flex-direction: column
    align-items: center
    .brand--logo
        margin-bottom: 20px
   main 
    .jumbotron-wrapper
        width: 100%
        margin: 0
        height: 610px
        margin-top: 73px
        padding: 0 30px
    .jumbo--info
        margin-bottom: 75px
        margin-top: 30px
        width: 450px
        margin-left: 20px
    .jumbo--images
        width: 450px!important
        

@media (min-width: 769px) and (max-width: 979px)
  .content--title
    width: 100%
  .steps--container
    width: 100%!important
    margin: 0 auto 64px auto!important
    padding: 0 100px
  .step--login
    margin-top: 58px!important
  .content--tehemes
    margin: 0 auto!important
  .hamburger
    display: block
  .content--title
    width: 100%
  header
    position: relative
    .navigation
      position: absolute
      flex-direction: column
      height: auto
      right: 16px
      top: 24px
      background-color: #fff
      padding: 84px 42px 72px 42px
      border: 1px solid #F2F2F2
      z-index: 2
      max-width: 320px
      height: auto
      visibility: hidden
      opacity: 0
      border-radius: 100px
      transition: .3s ease
      transform: scale(.4)
      transition-delay: .2s
      &.show--mobile-nav
        border-radius: 0
        opacity: 1
        visibility: visible
        transform: scale(1)
        transition-delay: 0s
      &.show--mobile-nav li
        opacity: 1
        transition-delay: .2s
      li
        margin: 0!important
        margin-bottom: 24px!important
        text-align: center
        opacity: 0
        transition: .2s ease
        &:first-child
          margin-bottom: 32px!important
        &:last-child
          margin-bottom: 0!important
        .create--site
          display: inline-block
          color: #fff
          background-color: #3399FF
          font-weight: bold
          font-size: 16px
          padding: 9px 31px
          border-radius: 20px
          text-align: center
          box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1)
  main
    .jumbotron-wrapper
      width: 100%
      margin: 0
      height: auto
      margin-top: 73px
      padding: 0 30px
      .jumbo--info
        margin-bottom: 75px
        margin-top: 30px
        width: 370px
        margin-left: 30px
        h1
          font-size: 36px
        .jumbo--info-buttons
          .blueBtn
            font-size: 12px
      .jumbo--images
        width: 341px
        .small--frame
          width: 106px
          right: 53px
          top: 109px
    .content
      width: 100%
      margin: 163px auto 0 auto
      padding: 0 30px
    .content--tehemes
      .theme--form
        width: 100%
      .theme--card
        width: 240px
        height: 500px
        margin-right: 0!important
    .content--plugins
      margin-top: 64px
    .main--plugins-list
      width: 50%!important
      .category--title
        margin-left: 100px!important
      .category--list
        margin-bottom: 40px!important
        .category--item
          margin: 12px auto 0 auto
          &:first-child
            margin-top: 0
  .content--login
    margin-top: 64px!important
  .content-finish
    .finish--img
      width: 100%
      padding: 60px
  .content--blog, .content--about, .content--contacts,
  .content--account, .content--help, .content--faq
    margin-top: 64px!important
    width: 100%!important
    padding: 0 30px

@media (min-width: 769px) and (max-width: 876px)
  main .content--tehemes .theme--form
    justify-content: center
    .theme--card
      margin-right: 10%!important
      &:nth-child(2n)
        margin-right: 0!important
      &:last-child
        margin: 0!important



@media (min-width: 1600px)
  main
    .jumbotron-wrapper
      width: 1600px
      margin: 0 auto
      margin-top: 73px
      justify-content: flex-start
      .jumbo--images
        margin-right: 80px
        width: 796px
        .small--frame
          top: 254px
          right: 123px
      .jumbo--info
        margin-top: 80px

.account--form-show
  visibility: visible!important
  opacity: 1!important

.account--form-hide
  visibility: hidden!important
  opacity: 0!important